@import "compass";
/*
 * setting.scss
 * include:
 * "variables" "mixins" "base"
 */

// ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
// "variables"
// ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//app body size
$app-minWidth: 760px;
$app-minHeight: auto;
$app-maxWidth: auto;
$app-maxHeight: auto;

//app font family
$ff-base: Arial,Verdana,"Helvetica Neue",Helvetica,sans-serif;

//font size
$fs-base:13px;
$fs-small:10px;
$fs-midium:12px;
$fs-large:14px;
$fs-h6:16px;
$fs-h5:18px;
$fs-h4:20px;
$fs-h3:22px;
$fs-h2:24px;
$fs-h1:26px;

//line height
$lh-reset:1.0;
$lh-base:1.4;
$lh-form:30px;
$lh-table:1.4;
$lh-btn:20px;
$lh-btn-mini:16px;
$lh-badge:16px;
$lh-txt:1.4;

// theme color
$cl-theme: #485169;
$cl-theme1: #555;
$cl-theme2: #111;

$cl-theme-darken: darken( $cl-theme, 5% );
$cl-theme-lighten: lighten( $cl-theme, 5% );
$cl-theme1-darken: darken( $cl-theme1, 5% );
$cl-theme1-lighten: lighten( $cl-theme1, 5% );

//body background color
$cl-bg-body: #f6f6f6;

//color
$cl-white:#fff;
$cl-red:#cc3300;
$cl-orange:#E6AD2D;
$cl-blue:#548BB5;
$cl-green:#689C51;
$cl-yellow:#F4DD17;
$cl-black:#000;
$cl-gray:#666;
$cl-gray1:#888;
$cl-gray2:#999;
$cl-gray3:#aaa;
$cl-gray4:#bbb;
$cl-gray5:#ccc;
$cl-gray6:#ddd;
$cl-gray7:#eee;

//text color
$cl-txt-white:#fff;
$cl-txt-red:#cc3300;
$cl-txt-orange:#B59654;
$cl-txt-blue:#548BB5;
$cl-txt-green:#689C51;
$cl-txt-yellow:#F4DD17;
$cl-txt-black:#000;
$cl-txt-gray:#333;
$cl-txt-gray1:#444;
$cl-txt-gray2:#555;
$cl-txt-gray3:#666;
$cl-txt-gray4:#777;
$cl-txt-gray5:#888;
$cl-txt-gray6:#999;
$cl-txt-gray7:#aaa;

//text color
$cl-txt-base: #333;
$cl-txt-rev : #fff;
$cl-txt-link:#448CCF;
$cl-txt-hover: darken( $cl-txt-link, 15% );
$cl-txt-theme : $cl-theme;

//bg color
$cl-bg-white: $cl-white;
$cl-bg-red: #FFEEF3;
$cl-bg-orange: #FFF5DE;
$cl-bg-blue: #EEF9FF;
$cl-bg-green: #EFFFEE;
$cl-bg-yellow: #FDFFEE;
$cl-bg-black: $cl-black;
$cl-bg-gray:#f5f5f5;
$cl-bg-gray1:#f9f9f9;
$cl-bg-gray2:#eee;
$cl-bg-gray3:#ddd;
$cl-bg-gray4:#ccc;
$cl-bg-gray5:#bbb;
$cl-bg-gray6:#aaa;
$cl-bg-gray7:#999;
$cl-bg-theme: $cl-theme;

//border color
$cl-brd-base:#ccc;
$cl-brd-theme: $cl-theme;

$cl-brd-lighten: lighten( $cl-brd-base, 5% );
$cl-brd-darken: darken( $cl-brd-base, 5% );

//focus color
$cl-brd-focus :#8691C1;
$cl-bg-focus :#EDF3F7;

//button color
$cl-btn-base:#eee;
$cl-btn-lighten: lighten( $cl-btn-base, 3% );
$cl-btn-darken: darken( $cl-btn-base, 10% );
$cl-btn-white:#f9f9f9;
$cl-btn-white-lighten: lighten( $cl-btn-white, 3% );
$cl-btn-white-darken: darken( $cl-btn-white, 10% );
$cl-btn-red:$cl-red;
$cl-btn-red-lighten: lighten( $cl-btn-red, 3% );
$cl-btn-red-darken: darken( $cl-btn-red, 10% );
$cl-btn-orange:$cl-orange;
$cl-btn-orange-lighten: lighten( $cl-btn-orange, 3% );
$cl-btn-orange-darken: darken( $cl-btn-orange, 10% );
$cl-btn-blue:$cl-blue;
$cl-btn-blue-lighten: lighten( $cl-btn-blue, 3% );
$cl-btn-blue-darken: darken( $cl-btn-blue, 10% );
$cl-btn-green:$cl-green;
$cl-btn-green-lighten: lighten( $cl-btn-green, 3% );
$cl-btn-green-darken: darken( $cl-btn-green, 10% );
$cl-btn-yellow:$cl-yellow;
$cl-btn-yellow-lighten: lighten( $cl-btn-yellow, 3% );
$cl-btn-yellow-darken: darken( $cl-btn-yellow, 10% );
$cl-btn-black:$cl-black;
$cl-btn-black-lighten: lighten( $cl-btn-black, 3% );
$cl-btn-black-darken: darken( $cl-btn-black, 10% );
$cl-btn-gray:$cl-gray;
$cl-btn-gray-lighten: lighten( $cl-btn-gray, 3% );
$cl-btn-gray-darken: darken( $cl-btn-gray, 10% );
$cl-btn-theme:$cl-theme;
$cl-btn-theme-lighten: lighten( $cl-btn-theme, 3% );
$cl-btn-theme-darken: darken( $cl-btn-theme, 10% );

//userinfo color
$cl-alert: #cc3300;
$cl-success: #3E7B13;
$cl-info: #4F8AB4;
$cl-warning: #857F6A;

//userinfo background color
$cl-bg-alert: lighten( $cl-alert, 5% );
$cl-bg-success: lighten( $cl-success, 5% );
$cl-bg-info: lighten( $cl-info, 5% );
$cl-bg-warning: lighten( $cl-warning, 5% );

//delete color
$cl-delete: $cl-red;
$cl-delete-darken: darken( $cl-delete, 5% );

//header
$cl-bg-header: $cl-theme;

//nav
$cl-bg-nav: #fff;
$cl-bg-nav-current: #f6f6f6;
$cl-bg-nav-hover:  darken( $cl-bg-nav-current, 5% );

//tab
$cl-bg-tab: $cl-theme;
$cl-bg-tab-current: $cl-theme;

//toorbar
$cl-bg-toolbar: $cl-gray;

//footer
$cl-bg-footer: $cl-theme;

//table
$cl-bg-table-header : #e5e5e5;
$cl-bg-table-th-hover : $cl-bg-gray;
$cl-bg-table-td-hover : $cl-bg-gray;
$cl-bg-table-highlight : $cl-bg-gray;
$cl-bg-table-select : $cl-gray2;
$pd-table:5px;

//modal
$cl-bg-modal-header: #CAD5D9;
$cl-bg-modal-body: #fff;
$cl-bg-modal-footer: #f6f6f6;

//popup
$cl-bg-popup:#fff;

//tooltip
$cl-bg-tooltip:#666;

//remarks
$cl-bg-remarks: #fff;
$cl-bg-remarks-supplement:#FEFDDA;

//badge size
$cl-bg-badge:$cl-red;

//stamp
$cl-stamp-gray:$cl-gray;
$cl-stamp-red:$cl-red;
$cl-stamp-green:$cl-green;
$cl-stamp-orange:$cl-orange;
$cl-stamp-blue:$cl-blue;
$cl-stamp-yellow:$cl-yellow;

// ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
// "mixins"
// ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■

@mixin posi-fix($top, $right, $bottom, $left){
  position:fixed;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
@mixin posi-abs($top, $right, $bottom, $left){
  position:absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin brd($width: 1px, $style: solid, $color: $cl-brd-base){
  border-width: $width;
  border-style: $style;
  border-color: $color;
}
@mixin brd-top($width: 1px, $style: solid, $color: $cl-brd-base){
  border-top-width: $width;
  border-top-style: $style;
  border-top-color: $color;
}
@mixin brd-right($width: 1px, $style: solid, $color: $cl-brd-base){
  border-right-width: $width;
  border-right-style: $style;
  border-right-color: $color;
}
@mixin brd-bottom($width: 1px, $style: solid, $color: $cl-brd-base){
  border-bottom-width: $width;
  border-bottom-style: $style;
  border-bottom-color: $color;
}
@mixin brd-left($width: 1px, $style: solid, $color: $cl-brd-base){
  border-left-width: $width;
  border-left-style: $style;
  border-left-color: $color;
}

@mixin centering($width: 200px){
  margin:auto;
  width: $width;
}

@mixin gradation($start:#fff, $end:#e3e3e3) {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $start), color-stop(50%, $end), color-stop(100%, $end));
  background-image: -moz-linear-gradient($start, $end, $end);
  background-image: -webkit-linear-gradient($start, $end, $end);
  background-image: linear-gradient($start, $end, $end);
}
@mixin gradation-ie($start:#ffffffff, $end:#FFE3E3E3) {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#{$start}', endColorstr='#{$end}');
}

@mixin width-overflow($max:900px){
  width: $max;
  overflow-x: auto;
}
@mixin width-overflow-max($max:900px){
  max-width: $max;
  overflow-x: auto;
}
@mixin height-overflow($max:900px){
  height: $max;
  overflow-y: auto;
}
@mixin height-overflow-max($max:900px){
  max-height: $max;
  overflow-y: auto;
}

@mixin boxset($bg: $cl-gray, $radius: 3px, $width: 1px, $type: solid, $color: $cl-brd-base){
  background: $bg;
  border: $width $type $color;
  @include border-radius($radius);
}

@mixin box-shadow-base{
  @include box-shadow(0 3px 5px rgba($cl-txt-base, .25));
}

@mixin easeout{
  @include transition( all 0.3s ease-out);
}
// ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
// "base"
// ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
/* =============================================================
 ▼ app base
============================================================= */
html,body {
  margin:0;
  padding: 0;
  @include min-width($app-minWidth);
}
body {
  position: relative;
  background: $cl-bg-body;
  font-size: $fs-base;
  color: $cl-txt-base;
  line-height: $lh-base;
  font-family: $ff-base;
}
*,*:before, *:after {box-sizing: border-box;}

small{font-size: $fs-small;}
em{font-style:normal;}
