@import "compass";
@import "effect";
/*
 * structure.scss
 * include:
 * "header" "footer" "container"
 *
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "header"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */
header{
  .st-body{
    background:$cl-bg-header;
    .st-inner{
      padding:5px 10px;
      a{
        color:$cl-txt-rev;
        i{color:$cl-txt-rev;}
      }
      //left////////////////////////////////////////
      .ef-float-left{
        a{
          .wrap-logo{
            .logo{
              background:$cl-white;
              i{color:$cl-bg-header;}
            }
          }
        }
      }
      //left////////////////////////////////////////
    }
  }
}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "footer"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */
footer{
  .st-body{
    @include posi-fix(auto, 0, 0, 0);
    background-color:$cl-theme;
    .st-inner{
      padding:3px 20px;
      .st-outer{
        &.centering{
          @include centering(220px);
        }
      }
      color:$cl-txt-rev;
    }
  }
}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "container"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */
.page-container{
  >.st-body{
    >.st-inner{
      margin-bottom:30px;
      // page-nav ////////////////////////////////////
      >.page-nav{
        >.st-body{
          width:200px;
          margin:15px;
          >.st-inner{
            padding:10px;
            @include border-radius(5px);
            @include brd;
            background:$cl-bg-nav;
            i,a{color:$cl-txt-base;}
            ul{
              li{
                a{
                    padding:0 10px;
                    display:block;
                  }
                &:hover,
                &.is-current{
                  a{
                    background:$cl-bg-nav-current;
                  }
                }
              }
            }
          }
        }
      }
      // page-main ////////////////////////////
      >.page-main{
        margin-left:220px;
        >.st-body{
          >.st-inner{
            padding:20px;
          }
        }
      }
    }
  }
}