@import "base";
/*
 * components.scss
 * include:
 * "images" "link" "list" "dl" "fonts" "form" "button"
 * "breadclumb" "underline"
 * "paginations" "title" "panel" "remarks" "carets" "activity"
 * "step wizard" "tag" "toolbar" "progress bar" "cursor"  "talkbox"
 *
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "images"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */
img{
  border:0;
  width:100%;
}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "link"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */
a{
  text-decoration:none;
  outline:none;
  color: $cl-txt-link;
  &:hover{
    text-decoration:underline;
    color: $cl-txt-hover;
    //@include opacity(0.8);
    @include transition(all 0.3s ease-in-out);
    img{
     @include opacity(0.8);
     @include transition(all 0.3s ease-in-out);
    }
  }
}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "list"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */
ul{
  list-style-type: none;
  margin:0;
  padding:0;
}
ol{
  margin-top:0;
  margin-bottom:0;
}

.cp-list-disc{
  >li{
    list-style-type:disc;
    margin-left:1em;
  }
}
.cp-list-decimal{
  >li{
    list-style-type:decimal;
    margin-left:28px;
  }
}
.cp-list-hover{
  >li{
    a{
      padding:3px 10px;
      color:$cl-txt;
      display:block;
      &:hover{
        text-decoration:none;
      }
    }
  }
}
.cp-list-hover.ef-cp-white{
  >li{
    a{
      &:hover{
        background:$cl-bg-white;
      }
    }
  }
}
.cp-list-hover.ef-cp-red{
  >li{
    a{
      &:hover{
        background:$cl-bg-red;
      }
    }
  }
}
.cp-list-hover.ef-cp-orange{
  >li{
    a{
      &:hover{
        background:$cl-bg-orange;
      }
    }
  }
}
.cp-list-hover.ef-cp-blue{
  >li{
    a{
      &:hover{
        background:$cl-bg-blue;
      }
    }
  }
}
.cp-list-hover.ef-cp-green{
  >li{
    a{
      &:hover{
        background:$cl-bg-green;
      }
    }
  }
}
.cp-list-hover.ef-cp-yellow{
  >li{
    a{
      &:hover{
        background:$cl-bg-yellow;
      }
    }
  }
}
.cp-list-hover.ef-cp-brown{
  >li{
    a{
      &:hover{
        background:$cl-bg-brown;
      }
    }
  }
}
.cp-list-hover.ef-cp-gray{
  >li{
    a{
      &:hover{
        background:$cl-bg-gray;
      }
    }
  }
}
.cp-list-hover.ef-cp-theme{
  >li{
    a{
      &:hover{
        background:$cl-bg-theme;
      }
    }
  }
}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "dl"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */
dl,dt,dd{
  margin:0;
  padding:0;
  line-height:1.6;
}
dl{
  dt{font-weight:bold;}
}
dl.cp-thumbnail{
  >dt{
    float:left;
    img{display:block;}
  }
  >dd::after{
    @include clearfix-after
  }
  .cp-thumbnail-title{font-weight: bold;}
}
a{
  >dl.cp-thumbnail{
    .cp-thumbnail-summary{
      color:$cl-txt;
    }
  }
}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "underline"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */
hr{
  border: 0;
  height: 0;
  padding:0;
  margin:0;
  @include brd-bottom(1px,solid,$cl-brd);
}
.cp-hr1-dotted{@include brd-bottom(1px,dotted,darken($cl-brd, 15%));}
.cp-hr2-dotted{@include brd-bottom(2px,dotted,darken($cl-brd, 15%));}
.cp-hr3-dotted{@include brd-bottom(3px,dotted,darken($cl-brd, 15%));}
.cp-hr1-dashed{@include brd-bottom(1px,dashed,darken($cl-brd, 15%));}
.cp-hr2-dashed{@include brd-bottom(2px,dashed,darken($cl-brd, 15%));}
.cp-hr3-dashed{@include brd-bottom(3px,dashed,darken($cl-brd, 15%));}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "fonts"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 *
 * =============================================================
 ▼ heading
============================================================== */
h1, h2, h3, h4, h5, h6{
  margin:0;
  padding:0;
}
h1{font-size:$fs-h1;}
h2{font-size:$fs-h2;}
h3{font-size:$fs-h3;}
h4{font-size:$fs-h4;}
h5{font-size:$fs-h5;}
h6{font-size:$fs-h6;}
/* =============================================================
 ▼ font-family
============================================================= */
.cp-fontfamily{
  font-family:$ff-base;
}
/* =============================================================
 ▼ webfont
============================================================== */
i{
  font-size:$fs;
  color:$cl-txt;
  @include min-width(1em);
}
a{
  i{
    color:$cl-txt-link;
    &:hover{
      color:$cl-txt-hover;
    }
  }
}

/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "form"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 *
/* =============================================================
 ▼ formset
============================================================= */
.cp-form{
  display: block;
  //margin:0;
  padding:5px 7px;
  font-size:100%;
  vertical-align:middle;
  outline: 0;
  border:0;
  @include brd;
  @include border-radius(3px);
  font-family: $ff-base;
  vertical-align:middle;
  &:focus{
   @extend .ef-bg-focus;
   @extend .ef-brd-focus;
  }
}
.cp-select,
.cp-input,
.cp-textarea{
  @extend .cp-form;
  //border radius
  &.ef-rd0{@include border-radius(0);}
  &.ef-rd1{@include border-radius(1px);}
  &.ef-rd2{@include border-radius(2px);}
  &.ef-rd3{@include border-radius(3px);}
  &.ef-rd4{@include border-radius(4px);}
  &.ef-rd5{@include border-radius(5px);}
  &.ef-rd6{@include border-radius(6px);}
  &.ef-rd7{@include border-radius(7px);}
  &.ef-rd8{@include border-radius(8px);}
  &.ef-rd9{@include border-radius(9px);}
  &.ef-rd10{@include border-radius(10px);}
  //top
  &.ef-rdt0{@include border-top-radius(0);}
  &.ef-rdt1{@include border-top-radius(1px);}
  &.ef-rdt2{@include border-top-radius(2px);}
  &.ef-rdt3{@include border-top-radius(3px);}
  &.ef-rdt4{@include border-top-radius(4px);}
  &.ef-rdt5{@include border-top-radius(5px);}
  &.ef-rdt6{@include border-top-radius(6px);}
  &.ef-rdt7{@include border-top-radius(7px);}
  &.ef-rdt8{@include border-top-radius(8px);}
  &.ef-rdt9{@include border-top-radius(9px);}
  &.ef-rdt10{@include border-top-radius(10px);}
  //right
  &.ef-rdr0{@include border-right-radius(0);}
  &.ef-rdr1{@include border-right-radius(1px);}
  &.ef-rdr2{@include border-right-radius(2px);}
  &.ef-rdr3{@include border-right-radius(3px);}
  &.ef-rdr4{@include border-right-radius(4px);}
  &.ef-rdr5{@include border-right-radius(5px);}
  &.ef-rdr6{@include border-right-radius(6px);}
  &.ef-rdr7{@include border-right-radius(7px);}
  &.ef-rdr8{@include border-right-radius(8px);}
  &.ef-rdr9{@include border-right-radius(9px);}
  &.ef-rdr10{@include border-right-radius(10px);}
  //bottom
  &.ef-rdb0{@include border-bottom-radius(0);}
  &.ef-rdb1{@include border-bottom-radius(1px);}
  &.ef-rdb2{@include border-bottom-radius(2px);}
  &.ef-rdb3{@include border-bottom-radius(3px);}
  &.ef-rdb4{@include border-bottom-radius(4px);}
  &.ef-rdb5{@include border-bottom-radius(5px);}
  &.ef-rdb6{@include border-bottom-radius(6px);}
  &.ef-rdb7{@include border-bottom-radius(7px);}
  &.ef-rdb8{@include border-bottom-radius(8px);}
  &.ef-rdb9{@include border-bottom-radius(9px);}
  &.ef-rdb10{@include border-bottom-radius(10px);}
  //left
  &.ef-rdb0{@include border-left-radius(0);}
  &.ef-rdb1{@include border-left-radius(1px);}
  &.ef-rdb2{@include border-left-radius(2px);}
  &.ef-rdb3{@include border-left-radius(3px);}
  &.ef-rdb4{@include border-left-radius(4px);}
  &.ef-rdb5{@include border-left-radius(5px);}
  &.ef-rdb6{@include border-left-radius(6px);}
  &.ef-rdb7{@include border-left-radius(7px);}
  &.ef-rdb8{@include border-left-radius(8px);}
  &.ef-rdb9{@include border-left-radius(9px);}
  &.ef-rdb10{@include border-left-radius(10px);}

  //border radius
  &.ef-rd3p{@include border-radius(3%);}
  &.ef-rd10p{@include border-radius(10%);}
  &.ef-rd20p{@include border-radius(20%);}
  &.ef-rd30p{@include border-radius(30%);}
  &.ef-rd40p{@include border-radius(40%);}
  &.ef-rd50p{@include border-radius(50%);}
  &.ef-rd60p{@include border-radius(60%);}
  &.ef-rd70p{@include border-radius(70%);}
  &.ef-rd80p{@include border-radius(80%);}
  &.ef-rd90p{@include border-radius(90%);}
  &.ef-rd100p{@include border-radius(100%);}
  //top
  &.ef-rdt3p{@include border-top-radius(3%);}
  &.ef-rdt10p{@include border-top-radius(10%);}
  &.ef-rdt20p{@include border-top-radius(20%);}
  &.ef-rdt30p{@include border-top-radius(30%);}
  &.ef-rdt40p{@include border-top-radius(40%);}
  &.ef-rdt50p{@include border-top-radius(50%);}
  &.ef-rdt60p{@include border-top-radius(60%);}
  &.ef-rdt70p{@include border-top-radius(70%);}
  &.ef-rdt80p{@include border-top-radius(80%);}
  &.ef-rdt90p{@include border-top-radius(90%);}
  &.ef-rdt100p{@include border-top-radius(100%);}
  //right
  &.ef-rdr3p{@include border-right-radius(3%);}
  &.ef-rdr10p{@include border-right-radius(10%);}
  &.ef-rdr20p{@include border-right-radius(20%);}
  &.ef-rdr30p{@include border-right-radius(30%);}
  &.ef-rdr40p{@include border-right-radius(40%);}
  &.ef-rdr50p{@include border-right-radius(50%);}
  &.ef-rdr60p{@include border-right-radius(60%);}
  &.ef-rdr70p{@include border-right-radius(70%);}
  &.ef-rdr80p{@include border-right-radius(80%);}
  &.ef-rdr90p{@include border-right-radius(90%);}
  &.ef-rdr100p{@include border-right-radius(100%);}
  //bottom
  &.ef-rdb3p{@include border-bottom-radius(3%);}
  &.ef-rdb10p{@include border-bottom-radius(10%);}
  &.ef-rdb20p{@include border-bottom-radius(20%);}
  &.ef-rdb30p{@include border-bottom-radius(30%);}
  &.ef-rdb40p{@include border-bottom-radius(40%);}
  &.ef-rdb50p{@include border-bottom-radius(50%);}
  &.ef-rdb60p{@include border-bottom-radius(60%);}
  &.ef-rdb70p{@include border-bottom-radius(70%);}
  &.ef-rdb80p{@include border-bottom-radius(80%);}
  &.ef-rdb90p{@include border-bottom-radius(90%);}
  &.ef-rdb100p{@include border-bottom-radius(100%);}
  //left
  &.ef-rdl3p{@include border-left-radius(3%);}
  &.ef-rdl10p{@include border-left-radius(10%);}
  &.ef-rdl20p{@include border-left-radius(20%);}
  &.ef-rdl30p{@include border-left-radius(30%);}
  &.ef-rdl40p{@include border-left-radius(40%);}
  &.ef-rdl50p{@include border-left-radius(50%);}
  &.ef-rdl60p{@include border-left-radius(60%);}
  &.ef-rdl70p{@include border-left-radius(70%);}
  &.ef-rdl80p{@include border-left-radius(80%);}
  &.ef-rdl90p{@include border-left-radius(90%);}
  &.ef-rdl100p{@include border-left-radius(100%);}
}
.cp-select{padding:0 5px;}
.cp-select[size]{height:auto;}

input[type="checkbox"]{margin:6px 0;}
.cp-radio,
.cp-checkbox{
  position:relative;
  border:0;
  margin:0;
  padding:0;
  display:table;
  margin-left:17px;
  input[type="checkbox"],
  input[type="radio"]{
    @include posi-abs(50%,auto,auto,auto);
    height:13px;
    margin-top:-7px;
    margin-left:-17px;
    padding:0;
  }
}
//insert icon
.cp-input-icon-left{
  position:relative;
  i,img{
   @include posi-abs(50%,auto,auto,7px);
    margin-top:-6px;
    display:block;
  }
  input,textarea{
    padding-left:23px;
  }
}
.cp-input-icon-right{
  @extend .cp-input-icon-left;
  i,img{
    @include posi-abs(50%,7px,auto,auto);
  }
  input,textarea{
    padding-left:7px;
    padding-right:23px;
  }
}
//add button
.cp-input-btn-left{
  position:relative;
  display: table;
  a{
    display:table-cell;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
  }
  input{
    display:table-cell;
    border-left:0;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
  }
}
.cp-input-btn-right{
  position:relative;
  display: table;
  a{
    display:table-cell;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
  }
  input{
    display:table-cell;
    border-right:0;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
  }
}
/* =============================================================
 ▼ ime mode
============================================================= */
// .cp-ime-auto{ime-mode: normal;}
// .cp-ime-ja{ime-mode: active;}
// .cp-ime-en{ime-mode: inactive;}
// .cp-ime-off{ime-mode: disabled;}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "buttons"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 *
 * =============================================================
 ▼ btn
============================================================== */
.cp-btn{
  text-align:center;
  padding:4px 12px;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  text-decoration:none;
  outline:none;
  color:$cl-txt;
  i{color:$cl-txt;}
  background:$cl-btn; // for oldie
  font-family:$ff-base;
  font-size:$fs;
  @include brd(1px,solid,$cl-btn-darken);
  @include border-radius(3px 3px);
  @include gradation($cl-btn-lighten, $cl-btn);
  //@include gradation-ie(#ffffffff, #ffeeeeee); // for oldie
  &:hover{
    text-decoration:none;
    color:$cl-txt;
    i{color:$cl-txt;}
    background:$cl-btn-hover;
    @include gradation($cl-btn-hover, $cl-btn-hover);
  }
  &:active{
    background:$cl-btn-active;
    @include gradation($cl-btn-active, $cl-btn-active);
  }
  &.is-disable{
    &:hover{
      @include gradation($cl-btn-lighten, $cl-btn);
    }
  }
  &.ef-response{
    background:none;
    @include brd(1px,solid,transparent);
    &:hover{
      text-decoration:none;
      color:$cl-txt;
      i{color:$cl-txt;}
      background:$cl-btn-hover; // for oldie
      @include brd(1px,solid,$cl-btn-darken);
      @include gradation($cl-btn-hover, $cl-btn-hover);
      //@include gradation-ie(#FFf2f2f2, #FFe1e1e1); // for oldie
    }
    &:active{
      background:$cl-btn-active; // for oldie
      @include brd(1px,solid,$cl-btn-darken);
      @include gradation($cl-btn-active, $cl-btn-active);
    }
    &.is-disable{
      &:hover{
        background:none;
        border:0;
      }
    }
  }
}
//white
.cp-btn.ef-cp-white{
  color:$cl-txt;
  i{color:$cl-txt;}
  background:$cl-btn-white; // for oldie
  @include brd(1px,solid,$cl-btn-white-darken);
  @include gradation($cl-btn-white-lighten, $cl-btn-white);
  &:hover{
    color:$cl-txt;
    i{color:$cl-txt;}
    background:$cl-btn-white-hover; // for oldie
    @include gradation($cl-btn-white-hover, $cl-btn-white-hover);
  }
  &:active{
    background:$cl-btn-white;
    @include gradation($cl-btn-white-active, $cl-btn-white-active);
  }
  &.is-disable{
    &:hover{
      @include gradation($cl-btn-white-lighten, $cl-btn-white);
    }
  }
}
//red
.cp-btn.ef-cp-red{
  color:$cl-txt-rev;
  i{color:$cl-txt-rev;}
  background:$cl-btn-red; // for oldie
  @include brd(1px,solid,$cl-btn-red-darken);
  @include gradation($cl-btn-red-lighten, $cl-btn-red);
  &:hover{
    color:$cl-txt-rev;
    i{color:$cl-txt-rev;}
    background:$cl-btn-red-hover; // for oldie
    @include gradation($cl-btn-red-hover, $cl-btn-red-hover);
  }
  &:active{
    background:$cl-btn-red-active; // for oldie
    @include gradation($cl-btn-red-active, $cl-btn-red-active);
  }
  &.is-disable{
    &:hover{
      @include gradation($cl-btn-red-lighten, $cl-btn-red);
    }
  }
}
//orange
.cp-btn.ef-cp-orange{
  color:$cl-txt-rev;
  i{color:$cl-txt-rev;}
  background:$cl-btn-orange; // for oldie
  @include brd(1px,solid,$cl-btn-orange-darken);
  @include gradation($cl-btn-orange-lighten, $cl-btn-orange);
  &:hover{
    color:$cl-txt-rev;
    i{color:$cl-txt-rev;}
    background:$cl-btn-orange-hover; // for oldie
    @include gradation($cl-btn-orange-hover, $cl-btn-orange-hover);
  }
  &:active{
    background:$cl-btn-orange-active; // for oldie
    @include gradation($cl-btn-orange-active, $cl-btn-orange-active);
  }
  &.is-disable{
    &:hover{
      @include gradation($cl-btn-orange-lighten, $cl-btn-orange);
    }
  }
}
//blue
.cp-btn.ef-cp-blue{
  color:$cl-txt-rev;
  i{color:$cl-txt-rev;}
  background:$cl-btn-blue; // for oldie
  @include brd(1px,solid,$cl-btn-blue-darken);
  @include gradation($cl-btn-blue-lighten, $cl-btn-blue);
  &:hover{
    color:$cl-txt-rev;
    i{color:$cl-txt-rev;}
    background:$cl-btn-blue-hover; // for oldie
    @include gradation($cl-btn-blue-hover, $cl-btn-blue-hover);
  }
  &:active{
    background:$cl-btn-blue-active; // for oldie
    @include gradation($cl-btn-blue-active, $cl-btn-blue-active);
  }
  &.is-disable{
    &:hover{
      @include gradation($cl-btn-blue-lighten, $cl-btn-blue);
    }
  }
}
//green
.cp-btn.ef-cp-green{
  color:$cl-txt-rev;
  i{color:$cl-txt-rev;}
  background:$cl-btn-green; // for oldie
  @include brd(1px,solid,$cl-btn-green-darken);
  @include gradation($cl-btn-green-lighten, $cl-btn-green);
  &:hover{
    color:$cl-txt-rev;
    i{color:$cl-txt-rev;}
    background:$cl-btn-green-hover; // for oldie
    @include gradation($cl-btn-green-hover, $cl-btn-green-hover);
  }
  &:active{
    background:$cl-btn-green-active; // for oldie
    @include gradation($cl-btn-green-active, $cl-btn-green-active);
  }
  &.is-disable{
    &:hover{
      @include gradation($cl-btn-green-lighten, $cl-btn-green);
    }
  }
}
//yellow
.cp-btn.ef-cp-yellow{
  color:$cl-txt;
  i{color:$cl-txt;}
  background:$cl-btn-yellow; // for oldie
  @include brd(1px,solid,$cl-btn-yellow-darken);
  @include gradation($cl-btn-yellow-lighten, $cl-btn-yellow);
  &:hover{
    color:$cl-txt;
    i{color:$cl-txt;}
    background:$cl-btn-yellow-hover; // for oldie
    @include gradation($cl-btn-yellow-hover, $cl-btn-yellow-hover);
  }
  &:active{
    background:$cl-btn-yellow-active; // for oldie
    @include gradation($cl-btn-yellow-active, $cl-btn-yellow-active);
  }
  &.is-disable{
    &:hover{
      @include gradation($cl-btn-yellow-lighten, $cl-btn-yellow);
    }
  }
}
//brown
.cp-btn.ef-cp-brown{
  color:$cl-txt-rev;
  i{color:$cl-txt-rev;}
  background:$cl-btn-brown; // for oldie
  @include brd(1px,solid,$cl-btn-brown-darken);
  @include gradation($cl-btn-brown-lighten, $cl-btn-brown);
  &:hover{
    color:$cl-txt-rev;
    i{color:$cl-txt-rev;}
    background:$cl-btn-brown-hover; // for oldie
    @include gradation($cl-btn-brown-hover, $cl-btn-brown-hover);
  }
  &:active{
    background:$cl-btn-brown-active; // for oldie
    @include gradation($cl-btn-brown-active, $cl-btn-brown-active);
  }
  &.is-disable{
    &:hover{
      @include gradation($cl-btn-brown-lighten, $cl-btn-brown);
    }
  }
}
//gray
.cp-btn.ef-cp-gray{
  color:$cl-txt-rev;
  i{color:$cl-txt-rev;}
  background:$cl-btn-gray; // for oldie
  @include brd(1px,solid,$cl-btn-gray-darken);
  @include gradation($cl-btn-gray-lighten, $cl-btn-gray);
  &:hover{
    color:$cl-txt-rev;
    i{color:$cl-txt-rev;}
    background:$cl-btn-gray-hover; // for oldie
    @include gradation($cl-btn-gray-hover, $cl-btn-gray-hover);
  }
  &:active{
    background:$cl-btn-gray-active; // for oldie
    @include gradation($cl-btn-gray-active, $cl-btn-gray-active);
  }
  &.is-disable{
    &:hover{
      @include gradation($cl-btn-gray-lighten, $cl-btn-gray);
    }
  }
}
//theme
.cp-btn.ef-cp-theme{
  color:$cl-txt-rev;
  i{color:$cl-txt-rev;}
  background:$cl-btn-theme; // for oldie
  @include brd(1px,solid,$cl-btn-theme-darken);
  @include gradation($cl-btn-theme-lighten, $cl-btn-theme);
  &:hover{
    color:$cl-txt-rev;
    i{color:$cl-txt-rev;}
    background:$cl-btn-theme-hover; // for oldie
    @include gradation($cl-btn-theme-hover, $cl-btn-theme-hover);
  }
  &:active{
    background:$cl-btn-theme-active; // for oldie
    @include gradation($cl-btn-theme-active, $cl-btn-theme-active);
  }
  &.is-disable{
    &:hover{
      @include gradation($cl-btn-theme-lighten, $cl-btn-theme);
    }
  }
}
//mini
.cp-btn-mini{
  @extend .cp-btn;
  font-size:$fs-small;
  padding:3px;
  line-height:$lh-btn-mini;
}
//large
.cp-btn-large{
  @extend .cp-btn;
  font-size:$fs-h6;
  padding:7px 25px;
}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "beadclumb"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */
.cp-breadcrumb{
  .st-inner{
    padding-top:5px;
    padding-bottom:5px;
  }
}
.cp-breadcrumb-model0{
  .st-inner{
    @include brd;
    @include border-radius(3px);
    padding:5px 10px;
  }
}
.cp-breadcrumb-model1{
  .st-inner{
    @include brd-top;
    background:#eee;
    padding:5px 10px;
  }
}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "title"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */

/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "panel"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */
.cp-panel{
  display:table;
  >.st-body{
    position:relative;
    >.st-inner{
      @include brd;
      @include border-radius(5px);
      padding:20px;
    }
  }
}
.cp-panel.ef-cp-white{>.st-body{>.st-inner{background:$cl-bg-white;}}}
.cp-panel.ef-cp-red{>.st-body{>.st-inner{background:$cl-bg-red;}}}
.cp-panel.ef-cp-orange{>.st-body{>.st-inner{background:$cl-bg-orange;}}}
.cp-panel.ef-cp-blue{>.st-body{>.st-inner{background:$cl-bg-blue;}}}
.cp-panel.ef-cp-green{>.st-body{>.st-inner{background:$cl-bg-green;}}}
.cp-panel.ef-cp-yellow{>.st-body{>.st-inner{background:$cl-bg-yellow;}}}
.cp-panel.ef-cp-brown{>.st-body{>.st-inner{background:$cl-bg-brown;}}}
.cp-panel.ef-cp-gray{>.st-body{>.st-inner{background:$cl-bg-gray;}}}
.cp-panel.ef-cp-theme{>.st-body{>.st-inner{background:$cl-bg-theme;}}}

.cp-panel-mini{
  @extend .cp-panel;
  >.st-body{
    >.st-inner{
      padding:7px;
    }
  }
}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "remarks"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */
.cp-remarks{
  display: table;
  >.st-inner{
    @include brd;
    @include border-radius(3px);
    padding:7px 10px;
    >.st-outer{
      @include brd-left(5px,solid,#fff);
      padding-left:7px;
      font-size:12px;
    }
  }
}
.cp-remarks.ef-cp-white{>.st-inner{>.st-outer{@include brd-left(5px,solid,$cl-white);}}}
.cp-remarks.ef-cp-red{>.st-inner{>.st-outer{@include brd-left(5px,solid,$cl-red);}}}
.cp-remarks.ef-cp-orange{>.st-inner{>.st-outer{@include brd-left(5px,solid,$cl-orange);}}}
.cp-remarks.ef-cp-blue{>.st-inner{>.st-outer{@include brd-left(5px,solid,$cl-blue);}}}
.cp-remarks.ef-cp-green{>.st-inner{>.st-outer{@include brd-left(5px,solid,$cl-green);}}}
.cp-remarks.ef-cp-yellow{>.st-inner{>.st-outer{@include brd-left(5px,solid,$cl-yellow);}}}
.cp-remarks.ef-cp-brown{>.st-inner{>.st-outer{@include brd-left(5px,solid,$cl-brown);}}}
.cp-remarks.ef-cp-gray{>.st-inner{>.st-outer{@include brd-left(5px,solid,$cl-gray);}}}
.cp-remarks.ef-cp-theme{>.st-inner{>.st-outer{@include brd-left(5px,solid,$cl-theme);}}}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "caret"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */
.cp-triangle{
  @include clearfix;
  vertical-align:middle;
  display: inline-block;
  height: 0;
  width: 0;
}
.cp-triangle-top{
  @extend .cp-triangle;
  border-bottom: 4px solid #fff;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
.cp-triangle-left{
  @extend .cp-triangle;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 4px solid #fff;
}
.cp-triangle-right{
  @extend .cp-triangle;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #fff;
}
.cp-triangle-bottom{
  @extend .cp-triangle;
  border-top: 4px solid #fff;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "badges"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */
.cp-badge{
  @include border-radius(50%);
  padding:0 3px;
  display:inline-block;
  line-height:15px;
  min-width:16px;
  text-align:center;
  font-size:10px;
  color:$cl-txt-rev;
  i{
    line-height:15px;
    color:$cl-txt-rev;
  }
}
a.cp-badge{
  &:hover{
    color:$cl-txt-rev;
    @include opacity(0.5);
    text-decoration: none;
  }
  &.is-disable{
    &:hover{@include opacity(0.5);}
  }
}
a.cp-badge.ef-cp-white,
a.cp-badge.ef-cp-yellow{
  &:hover{
    color:$cl-txt;
  }
}
.cp-badge.ef-cp-white{
  color:$cl-txt;
  i{color:$cl-txt;}
  background:$cl-badge-white;
}
.cp-badge.ef-cp-yellow{
  color:$cl-txt;
  i{color:$cl-txt;}
  background:$cl-badge-yellow;
}
.cp-badge.ef-cp-gray{background:$cl-badge-gray;}
.cp-badge.ef-cp-red{background:$cl-badge-red;}
.cp-badge.ef-cp-green{background:$cl-badge-green;}
.cp-badge.ef-cp-orange{background:$cl-badge-orange;}
.cp-badge.ef-cp-blue{background:$cl-badge-blue;}
.cp-badge.ef-cp-brown{background:$cl-badge-brown;}
.cp-badge.ef-cp-theme{background:$cl-badge-theme;}

/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "wizard"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 *
 * =============================================================
 ▼ step
============================================================== */
.cp-stepbar{
  >ul{
    display: table;
    >li{
      line-height:14px;
      min-height: 14px;
      background:$cl-stepbar;
      font-weight:bold;
      position:relative;
      display:table-cell;
      color:$cl-txt;
      text-decoration:none;
      &.is-current,
      &.is-past{
        .cp-stepbar-key{
          color:#fff;
          background:$cl-stepbar-current;
        }
        .cp-stepbar-arrow{
          background:$cl-stepbar;
          border-top: 17px solid transparent;
          border-bottom: 17px solid transparent;
          border-left: 17px solid $cl-stepbar-current;
        }
        .cp-stepbar-arrow-bg{display:none;}
      }
      &.is-past{
        .cp-stepbar-key{background:$cl-stepbar;}
        .cp-stepbar-arrow{
          background:$cl-stepbar-current;
          border-left: 17px solid $cl-stepbar;
        }
      }
    }
  }
}
.cp-stepbar-key{padding:10px 0 10px 10px;}
.cp-stepbar-arrow,
.cp-stepbar-arrow-bg{
  @include posi-abs(0,0,0,auto);
  width:20px;
  height:34px;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 17px solid $cl-stepbar;
}
.cp-stepbar-arrow-bg{
  @include posi-abs(0,-1px,0,auto);
  border-left: 17px solid #aaa;
}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "tag"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */
.cp-tag{
  padding:2px 5px;
  display:inline-block;
  text-align:center;
  min-width:15px;
  color:$cl-txt-rev;
  font-size:12px;
  line-height:20px;
  i{color:$cl-txt-rev;}
}
a.cp-tag{
  &:hover{
    color:$cl-txt-rev;
    @include opacity(0.5);
    text-decoration: none;
  }
  &.is-disable{
    &:hover{@include opacity(0.5);}
  }
}
a.cp-tag.ef-cp-white,
a.cp-tag.ef-cp-yellow{
  &:hover{
    color:$cl-txt;
  }
}
.cp-tag.ef-cp-white{
  color:$cl-txt;
  background:$cl-tag-white;
}
.cp-tag.ef-cp-yellow{
  color:$cl-txt;
  background:$cl-tag-yellow;
}
.cp-tag.ef-cp-white{background:$cl-tag-white;}
.cp-tag.ef-cp-gray{background:$cl-tag-gray;}
.cp-tag.ef-cp-red{background:$cl-tag-red;}
.cp-tag.ef-cp-green{background:$cl-tag-green;}
.cp-tag.ef-cp-orange{background:$cl-tag-orange;}
.cp-tag.ef-cp-blue{background:$cl-tag-blue;}
.cp-tag.ef-cp-brown{background:$cl-tag-brown;}
.cp-tag.ef-cp-theme{background:$cl-tag-theme;}

.cp-tag-mini{
  @extend .cp-tag;
  font-size:11px;
  line-height:11px;
  padding:4px 7px;
}

/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "step bar"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 *
 * =============================================================
 ▼ step circle
============================================================== */
.cp-toolbar{
  .st-inner{
    padding:7px 10px;
    @include border-radius(3px);
  }
}
.cp-toolbar-model0{
  @extend .cp-toolbar;
}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "progress bar"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 *
 *==============================================================
  progress bar
============================================================= */
.cp-progress-bar{
  .lo-body{
    @include border-radius(3px);
    @include brd;
  }
}
.cp-progress-bar.ef-cp-white{
  .lo-inner{background:$cl-progress-bar-white;}
}
.cp-progress-bar.ef-cp-red{
  .lo-inner{background:$cl-progress-bar-red;}
}
.cp-progress-bar.ef-cp-orange{
  .lo-inner{background:$cl-progress-bar-orange;}
}
.cp-progress-bar.ef-cp-blue{
  .lo-inner{background:$cl-progress-bar-blue;}
}
.cp-progress-bar.ef-cp-green{
  .lo-inner{background:$cl-progress-bar-green;}
}
.cp-progress-bar.ef-cp-yellow{
  .lo-inner{background:$cl-progress-bar-yellow;}
}
.cp-progress-bar.ef-cp-gray{
  .lo-inner{background:$cl-progress-bar-gray;}
}
.cp-progress-bar.ef-cp-brown{
  .lo-inner{background:$cl-progress-bar-brown;}
}
.cp-progress-bar.ef-cp-theme{
  .lo-inner{background:$cl-progress-bar-theme;}
}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "cursor"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 *
 *========================================================================
  cursor
======================================================================== */
.cp-cursor-move{cursor: url(face.cur), move;}
.cp-cursor-pointer{cursor:pointer;}
.cp-cursor-default{cursor:default;}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "talkbox"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 *
 *==============================================================
  talkbox left
============================================================= */
.cp-talkbox-left{
  position: relative;
  >.st-inner{
    background:$cl-bg-white;
    @include brd(1px,solid,$cl-brd);
    @include border-radius(3px);
    padding:7px 12px;
    margin-left: $talkbox-arrow-width;
  }
  .cp-talkbox-arrow{
    @include posi-abs(50%,auto,auto,1px);
    margin-top: -$talkbox-arrow-height;
    border-top: $talkbox-arrow-height solid transparent;
    border-bottom: $talkbox-arrow-height solid transparent;
    border-right: $talkbox-arrow-width solid $cl-bg-white;
    z-index:1;
  }
  .cp-talkbox-arrow-back{
    @include posi-abs(50%,auto,auto,0);
    margin-top: -$talkbox-arrow-height;
    border-top: $talkbox-arrow-height solid transparent;
    border-bottom: $talkbox-arrow-height solid transparent;
    border-right: $talkbox-arrow-width solid $cl-brd;
  }
}
.cp-talkbox-left.ef-cp-white{
  >.st-inner{background:$cl-bg-white;}
  .cp-talkbox-arrow{border-right-color:$cl-bg-white;}
}
.cp-talkbox-left.ef-cp-red{
  >.st-inner{background:$cl-bg-red;}
  .cp-talkbox-arrow{border-right-color:$cl-bg-red;}
}
.cp-talkbox-left.ef-cp-orange{
  >.st-inner{background:$cl-bg-orange;}
  .cp-talkbox-arrow{border-right-color:$cl-bg-orange;}
}
.cp-talkbox-left.ef-cp-blue{
  >.st-inner{background:$cl-bg-blue;}
  .cp-talkbox-arrow{border-right-color:$cl-bg-blue;}
}
.cp-talkbox-left.ef-cp-green{
  >.st-inner{background:$cl-bg-green;}
  .cp-talkbox-arrow{border-right-color:$cl-bg-green;}
}
.cp-talkbox-left.ef-cp-yellow{
  >.st-inner{background:$cl-bg-yellow;}
  .cp-talkbox-arrow{border-right-color:$cl-bg-yellow;}
}
.cp-talkbox-left.ef-cp-brown{
  >.st-inner{background:$cl-bg-brown;}
  .cp-talkbox-arrow{border-right-color:$cl-bg-brown;}
}
.cp-talkbox-left.ef-cp-gray{
  >.st-inner{background:$cl-bg-gray;}
  .cp-talkbox-arrow{border-right-color:$cl-bg-gray;}
}
.cp-talkbox-left.ef-cp-theme{
  >.st-inner{background:$cl-bg-theme;}
  .cp-talkbox-arrow{border-right-color:$cl-bg-theme;}
}
/* =============================================================
  talkbox right
============================================================= */
.cp-talkbox-right{
  position: relative;
  >.st-inner{
    background:$cl-bg-white;
    @include brd(1px,solid,$cl-brd);
    @include border-radius(3px);
    padding:7px 12px;
    margin-right: $talkbox-arrow-width;
  }
  .cp-talkbox-arrow{
    @include posi-abs(50%,1px,auto,auto);
    margin-top: -$talkbox-arrow-height;
    border-top: $talkbox-arrow-height solid transparent;
    border-bottom: $talkbox-arrow-height solid transparent;
    border-left: $talkbox-arrow-width solid $cl-bg-white;
    z-index:1;
  }
  .cp-talkbox-arrow-back{
    @include posi-abs(50%,0,auto,auto);
    margin-top: -$talkbox-arrow-height;
    border-top: $talkbox-arrow-height solid transparent;
    border-bottom: $talkbox-arrow-height solid transparent;
    border-left: $talkbox-arrow-width solid $cl-brd;
  }
}
.cp-talkbox-right.ef-cp-white{
  >.st-inner{background:$cl-bg-white;}
  .cp-talkbox-arrow{border-left-color:$cl-bg-white;}
}
.cp-talkbox-right.ef-cp-red{
  >.st-inner{background:$cl-bg-red;}
  .cp-talkbox-arrow{border-left-color:$cl-bg-red;}
}
.cp-talkbox-right.ef-cp-orange{
  >.st-inner{background:$cl-bg-orange;}
  .cp-talkbox-arrow{border-left-color:$cl-bg-orange;}
}
.cp-talkbox-right.ef-cp-blue{
  >.st-inner{background:$cl-bg-blue;}
  .cp-talkbox-arrow{border-left-color:$cl-bg-blue;}
}
.cp-talkbox-right.ef-cp-green{
  >.st-inner{background:$cl-bg-green;}
  .cp-talkbox-arrow{border-left-color:$cl-bg-green;}
}
.cp-talkbox-right.ef-cp-yellow{
  >.st-inner{background:$cl-bg-yellow;}
  .cp-talkbox-arrow{border-left-color:$cl-bg-yellow;}
}
.cp-talkbox-right.ef-cp-brown{
  >.st-inner{background:$cl-bg-brown;}
  .cp-talkbox-arrow{border-left-color:$cl-bg-brown;}
}
.cp-talkbox-right.ef-cp-gray{
  >.st-inner{background:$cl-bg-gray;}
  .cp-talkbox-arrow{border-left-color:$cl-bg-gray;}
}
.cp-talkbox-right.ef-cp-theme{
  >.st-inner{background:$cl-bg-theme;}
  .cp-talkbox-arrow{border-left-color:$cl-bg-theme;}
}
/*■■■■■■■■■■■■■■■■■■■■■■■■    "menu"   ■■■■■■■■■■■■■■■■■■■■■■■*/