@import "effect";
/*
 * components.scss
 * include:
 * "images" "link" "list" "dl" "fonts" "form" "button"
 * "breadclumb" "underline"
 * "paginations" "titles" "panel" "remarks" "carets" "activity"
 * "step wizard" "tag" "toolbar" "progress bar"
 *
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "images"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */
img{
  border:0;
  width:100%;
}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "link"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */
a{
  text-decoration:none;
  outline:none;
  color: $cl-txt-link;
  &:hover{
    text-decoration:underline;
    color: $cl-txt-hover;
    //@include opacity(0.8);
    @include transition(all 0.3s ease-in-out);
    img{
     @include opacity(0.8);
     @include transition(all 0.3s ease-in-out);
    }
  }
  &.ef-is-link{
    text-decoration:underline;
    &:hover{
      text-decoration:none;
      color: $cl-txt-hover;
    }
  }
  &.ef-is-nolink{
    text-decoration:none;
    color: $cl-txt-base;
    &:hover{
      text-decoration:none;
      color: $cl-txt-base;
    }
  }
}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "list"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */
ul{
  list-style-type: none;
  margin:0;
  padding:0;
  &.ef-list-disc{
    >li{
      list-style-type:disc;
      margin-left:1em;
    }
  }
  &.ef-list-decimal{
    >li{
      list-style-type:decimal;
      margin-left:28px;
    }
  }
  &.ef-list-hover-white{
    >li{
      a{
        padding:3px 10px;
        color:$cl-txt-base;
        display:block;
        &:hover{
          text-decoration:none;
          background:$cl-bg-theme;
        }
      }
    }
  }
  &.ef-list-hover-red{
    >li{
      a{
        padding:3px 10px;
        color:$cl-txt-base;
        display:block;
        &:hover{
          text-decoration:none;
          background:$cl-bg-red;
        }
      }
    }
  }
  &.ef-list-hover-orange{
    >li{
      a{
        padding:3px 10px;
        color:$cl-txt-base;
        display:block;
        &:hover{
          text-decoration:none;
          background:$cl-bg-orange;
        }
      }
    }
  }
  &.ef-list-hover-blue{
    >li{
      a{
        padding:3px 10px;
        color:$cl-txt-base;
        display:block;
        &:hover{
          text-decoration:none;
          background:$cl-bg-blue;
        }
      }
    }
  }
  &.ef-list-hover-green{
    >li{
      a{
        padding:3px 10px;
        color:$cl-txt-base;
        display:block;
        &:hover{
          text-decoration:none;
          background:$cl-bg-green;
        }
      }
    }
  }
  &.ef-list-hover-yellow{
    >li{
      a{
        padding:3px 10px;
        color:$cl-txt-base;
        display:block;
        &:hover{
          text-decoration:none;
          background:$cl-bg-yellow;
        }
      }
    }
  }
  &.ef-list-hover-black{
    >li{
      a{
        padding:3px 10px;
        color:$cl-txt-base;
        display:block;
        &:hover{
          text-decoration:none;
          background:$cl-bg-black;
        }
      }
    }
  }
  &.ef-list-hover-gray{
    >li{
      a{
        padding:3px 10px;
        color:$cl-txt-base;
        display:block;
        &:hover{
          text-decoration:none;
          background:$cl-bg-gray;
        }
      }
    }
  }
  &.ef-list-hover-gray1{
    >li{
      a{
        padding:3px 10px;
        color:$cl-txt-base;
        display:block;
        &:hover{
          text-decoration:none;
          background:$cl-bg-gray1;
        }
      }
    }
  }
  &.ef-list-hover-gray2{
    >li{
      a{
        padding:3px 10px;
        color:$cl-txt-base;
        display:block;
        &:hover{
          text-decoration:none;
          background:$cl-bg-gray2;
        }
      }
    }
  }
  &.ef-list-hover-gray3{
    >li{
      a{
        padding:3px 10px;
        color:$cl-txt-base;
        display:block;
        &:hover{
          text-decoration:none;
          background:$cl-bg-gray3;
        }
      }
    }
  }
  &.ef-list-hover-gray4{
    >li{
      a{
        padding:3px 10px;
        color:$cl-txt-base;
        display:block;
        &:hover{
          text-decoration:none;
          background:$cl-bg-gray4;
        }
      }
    }
  }
  &.ef-list-hover-gray5{
    >li{
      a{
        padding:3px 10px;
        color:$cl-txt-base;
        display:block;
        &:hover{
          text-decoration:none;
          background:$cl-bg-gray5;
        }
      }
    }
  }
  &.ef-list-hover-gray6{
    >li{
      a{
        padding:3px 10px;
        color:$cl-txt-base;
        display:block;
        &:hover{
          text-decoration:none;
          background:$cl-bg-gray6;
        }
      }
    }
  }
  &.ef-list-hover-gray7{
    >li{
      a{
        padding:3px 10px;
        color:$cl-txt-base;
        display:block;
        &:hover{
          text-decoration:none;
          background:$cl-bg-gray7;
        }
      }
    }
  }
  &.ef-list-hover-theme{
    >li{
      a{
        padding:3px 10px;
        color:$cl-txt-base;
        display:block;
        &:hover{
          text-decoration:none;
          background:$cl-bg-theme;
        }
      }
    }
  }
}

/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "dl"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */
dl,dt,dd{
  margin:0;
  padding:0;
}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "underline"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */
hr{
  border: 0;
  height: 1px;
  padding:0;
  margin:0;
  background: $cl-brd-base;
  &.is-dotted{
    height:0;
    background:none;
    @include brd-bottom(1px,dotted,$cl-brd-base);
  }
}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "fonts"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 *
 * =============================================================
 ▼ heading
============================================================== */
h1, h2, h3, h4, h5, h6{
  margin:0;
  padding:0;
}
h1{font-size:$fs-h1;}
h2{font-size:$fs-h2;}
h3{font-size:$fs-h3;}
h4{font-size:$fs-h4;}
h5{font-size:$fs-h5;}
h6{font-size:$fs-h6;}
/* =============================================================
 ▼ font-family
============================================================= */
.cp-fontfamily{
  font-family:$ff-base;
}
/* =============================================================
 ▼ webfont
============================================================== */
i{
  font-size:$fs-base;
  color:$cl-txt-base;
  @include min-width(1em);
}
a{
  i{
    color:$cl-txt-link;
    &:hover{
      color:$cl-txt-hover;
    }
  }
}

/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "forms"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 *
 * =============================================================
 ▼ default form
============================================================= */
// select,
// input[type="text"],
// input[type="password"]{
//   height:$lh-form;
//   margin:0;
//   padding:0 7px;
//   line-height:$lh-form;
//   font-size:100%;
//   vertical-align:middle;
//   outline: none;
//   @include brd;
//   @include border-radius(3px);
//   font-family: $ff-base;
//   &:focus{
//    @extend .ef-bg-focus;
//    @extend .ef-brd-focus;
//   }
// }
// input[type="checkbox"],
// input[type="radio"]{
//   border:0;
//   margin:0;
//   padding:0;
//   display: block;
// }
// select{
//   padding:0;
// }
/* =============================================================
 ▼ formset
============================================================= */
.cp-form{
  display: block;
  //margin:0;
  padding:3px 7px;
  font-size:100%;
  vertical-align:middle;
  outline: 0;
  border:0;
  @include brd;
  @include border-radius(3px);
  font-family: $ff-base;
  &:focus{
   @extend .ef-bg-focus;
   @extend .ef-brd-focus;
  }
}
.cp-input{
  line-height:$lh-form;
  height:30px;
}
.cp-select,
.cp-input,
.cp-textarea{
  @extend .cp-form;
  //line-height
  &.ef-lh{height:$lh-base;}
  &.ef-lh0{height:0;}
  &.ef-lh10{height:10px;}
  &.ef-lh11{height:11px;}
  &.ef-lh12{height:12px;}
  &.ef-lh13{height:13px;}
  &.ef-lh14{height:14px;}
  &.ef-lh15{height:15px;}
  &.ef-lh16{height:16px;}
  &.ef-lh17{height:17px;}
  &.ef-lh18{height:18px;}
  &.ef-lh19{height:19px;}
  &.ef-lh20{height:20px;}
  &.ef-lh21{height:21px;}
  &.ef-lh22{height:22px;}
  &.ef-lh23{height:23px;}
  &.ef-lh24{height:24px;}
  &.ef-lh25{height:25px;}
  &.ef-lh26{height:26px;}
  &.ef-lh27{height:27px;}
  &.ef-lh28{height:28px;}
  &.ef-lh29{height:29px;}
  &.ef-lh30{height:30px;}
  &.ef-lh31{height:31px;}
  &.ef-lh32{height:32px;}
  &.ef-lh33{height:33px;}
  &.ef-lh34{height:34px;}
  &.ef-lh35{height:35px;}
  &.ef-lh36{height:36px;}
  &.ef-lh37{height:37px;}
  &.ef-lh38{height:38px;}
  &.ef-lh39{height:39px;}
  &.ef-lh40{height:40px;}
  //border radius
  &.ef-rd0{@include border-radius(0);}
  &.ef-rd1{@include border-radius(1px);}
  &.ef-rd2{@include border-radius(2px);}
  &.ef-rd3{@include border-radius(3px);}
  &.ef-rd4{@include border-radius(4px);}
  &.ef-rd5{@include border-radius(5px);}
  &.ef-rd6{@include border-radius(6px);}
  &.ef-rd7{@include border-radius(7px);}
  &.ef-rd8{@include border-radius(8px);}
  &.ef-rd9{@include border-radius(9px);}
  &.ef-rd10{@include border-radius(10px);}
  //top
  &.ef-rdt0{@include border-top-radius(0);}
  &.ef-rdt1{@include border-top-radius(1px);}
  &.ef-rdt2{@include border-top-radius(2px);}
  &.ef-rdt3{@include border-top-radius(3px);}
  &.ef-rdt4{@include border-top-radius(4px);}
  &.ef-rdt5{@include border-top-radius(5px);}
  &.ef-rdt6{@include border-top-radius(6px);}
  &.ef-rdt7{@include border-top-radius(7px);}
  &.ef-rdt8{@include border-top-radius(8px);}
  &.ef-rdt9{@include border-top-radius(9px);}
  &.ef-rdt10{@include border-top-radius(10px);}
  //right
  &.ef-rdr0{@include border-right-radius(0);}
  &.ef-rdr1{@include border-right-radius(1px);}
  &.ef-rdr2{@include border-right-radius(2px);}
  &.ef-rdr3{@include border-right-radius(3px);}
  &.ef-rdr4{@include border-right-radius(4px);}
  &.ef-rdr5{@include border-right-radius(5px);}
  &.ef-rdr6{@include border-right-radius(6px);}
  &.ef-rdr7{@include border-right-radius(7px);}
  &.ef-rdr8{@include border-right-radius(8px);}
  &.ef-rdr9{@include border-right-radius(9px);}
  &.ef-rdr10{@include border-right-radius(10px);}
  //bottom
  &.ef-rdb0{@include border-bottom-radius(0);}
  &.ef-rdb1{@include border-bottom-radius(1px);}
  &.ef-rdb2{@include border-bottom-radius(2px);}
  &.ef-rdb3{@include border-bottom-radius(3px);}
  &.ef-rdb4{@include border-bottom-radius(4px);}
  &.ef-rdb5{@include border-bottom-radius(5px);}
  &.ef-rdb6{@include border-bottom-radius(6px);}
  &.ef-rdb7{@include border-bottom-radius(7px);}
  &.ef-rdb8{@include border-bottom-radius(8px);}
  &.ef-rdb9{@include border-bottom-radius(9px);}
  &.ef-rdb10{@include border-bottom-radius(10px);}
  //left
  &.ef-rdb0{@include border-left-radius(0);}
  &.ef-rdb1{@include border-left-radius(1px);}
  &.ef-rdb2{@include border-left-radius(2px);}
  &.ef-rdb3{@include border-left-radius(3px);}
  &.ef-rdb4{@include border-left-radius(4px);}
  &.ef-rdb5{@include border-left-radius(5px);}
  &.ef-rdb6{@include border-left-radius(6px);}
  &.ef-rdb7{@include border-left-radius(7px);}
  &.ef-rdb8{@include border-left-radius(8px);}
  &.ef-rdb9{@include border-left-radius(9px);}
  &.ef-rdb10{@include border-left-radius(10px);}

  //border radius
  &.ef-rd3p{@include border-radius(3%);}
  &.ef-rd10p{@include border-radius(10%);}
  &.ef-rd20p{@include border-radius(20%);}
  &.ef-rd30p{@include border-radius(30%);}
  &.ef-rd40p{@include border-radius(40%);}
  &.ef-rd50p{@include border-radius(50%);}
  &.ef-rd60p{@include border-radius(60%);}
  &.ef-rd70p{@include border-radius(70%);}
  &.ef-rd80p{@include border-radius(80%);}
  &.ef-rd90p{@include border-radius(90%);}
  &.ef-rd100p{@include border-radius(100%);}
  //top
  &.ef-rdt3p{@include border-top-radius(3%);}
  &.ef-rdt10p{@include border-top-radius(10%);}
  &.ef-rdt20p{@include border-top-radius(20%);}
  &.ef-rdt30p{@include border-top-radius(30%);}
  &.ef-rdt40p{@include border-top-radius(40%);}
  &.ef-rdt50p{@include border-top-radius(50%);}
  &.ef-rdt60p{@include border-top-radius(60%);}
  &.ef-rdt70p{@include border-top-radius(70%);}
  &.ef-rdt80p{@include border-top-radius(80%);}
  &.ef-rdt90p{@include border-top-radius(90%);}
  &.ef-rdt100p{@include border-top-radius(100%);}
  //right
  &.ef-rdr3p{@include border-right-radius(3%);}
  &.ef-rdr10p{@include border-right-radius(10%);}
  &.ef-rdr20p{@include border-right-radius(20%);}
  &.ef-rdr30p{@include border-right-radius(30%);}
  &.ef-rdr40p{@include border-right-radius(40%);}
  &.ef-rdr50p{@include border-right-radius(50%);}
  &.ef-rdr60p{@include border-right-radius(60%);}
  &.ef-rdr70p{@include border-right-radius(70%);}
  &.ef-rdr80p{@include border-right-radius(80%);}
  &.ef-rdr90p{@include border-right-radius(90%);}
  &.ef-rdr100p{@include border-right-radius(100%);}
  //bottom
  &.ef-rdb3p{@include border-bottom-radius(3%);}
  &.ef-rdb10p{@include border-bottom-radius(10%);}
  &.ef-rdb20p{@include border-bottom-radius(20%);}
  &.ef-rdb30p{@include border-bottom-radius(30%);}
  &.ef-rdb40p{@include border-bottom-radius(40%);}
  &.ef-rdb50p{@include border-bottom-radius(50%);}
  &.ef-rdb60p{@include border-bottom-radius(60%);}
  &.ef-rdb70p{@include border-bottom-radius(70%);}
  &.ef-rdb80p{@include border-bottom-radius(80%);}
  &.ef-rdb90p{@include border-bottom-radius(90%);}
  &.ef-rdb100p{@include border-bottom-radius(100%);}
  //left
  &.ef-rdl3p{@include border-left-radius(3%);}
  &.ef-rdl10p{@include border-left-radius(10%);}
  &.ef-rdl20p{@include border-left-radius(20%);}
  &.ef-rdl30p{@include border-left-radius(30%);}
  &.ef-rdl40p{@include border-left-radius(40%);}
  &.ef-rdl50p{@include border-left-radius(50%);}
  &.ef-rdl60p{@include border-left-radius(60%);}
  &.ef-rdl70p{@include border-left-radius(70%);}
  &.ef-rdl80p{@include border-left-radius(80%);}
  &.ef-rdl90p{@include border-left-radius(90%);}
  &.ef-rdl100p{@include border-left-radius(100%);}
}
//.cp-select{padding:0;}
.cp-select[size]{height:auto;}

label{
  &.cp-radio,
  &.cp-checkbox{
    position:relative;
    border:0;
    margin:0;
    padding:0;
    display:block;
    padding-left:20px;
    input[type="checkbox"],
    input[type="radio"]{
      @include posi-abs(50%,auto,auto,auto);
      height:13px;
      margin-top:-7px;
      margin-left:-20px;
      padding:0;
    }
  }
}
//insert icon
.cp-input-icon-left{
  position:relative;
  i,img{
   @include posi-abs(50%,auto,auto,7px);
    margin-top:-7px;
    display:block;
  }
  input,textarea{
    padding-left:23px;
  }
}
.cp-input-icon-right{
  @extend .cp-input-icon-left;
  i,img{
    @include posi-abs(50%,7px,auto,auto);
  }
  input,textarea{
    padding-left:7px;
    padding-right:23px;
  }
}
//add button
.cp-input-btn-left{
  position:relative;
  display: table;
  a{
    display:table-cell;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
  }
  input{
    display:table-cell;
    border-left:0;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
  }
}
.cp-input-btn-right{
  position:relative;
  display: table;
  a{
    display:table-cell;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
  }
  input{
    display:table-cell;
    border-right:0;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
  }
}
/* =============================================================
 ▼ ime mode
============================================================= */
.cp-ime-auto{ime-mode: normal;}
.cp-ime-ja{ime-mode: active;}
.cp-ime-en{ime-mode: inactive;}
.cp-ime-off{ime-mode: disabled;}

/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "buttons"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 *
 * =============================================================
 ▼ btn
============================================================== */
.cp-btn{
  text-align:center;
  padding:4px 12px;
  line-height:$lh-btn;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  text-decoration:none;
  outline:none;
  color:$cl-txt-base;
  i{color:$cl-txt-base;}
  background:$cl-btn-base; // for oldie
  font-family:$ff-base;
  font-size:$fs-base;
  @include brd(1px,solid,$cl-btn-darken);
  @include border-radius(3px 3px);
  @include gradation($cl-btn-lighten, $cl-btn-base);
  //@include gradation-ie(#ffffffff, #ffeeeeee); // for oldie
  //line-height
  &.ef-lh{height:$lh-base;}
  &.ef-lh0{height:0;}
  &.ef-lh10{height:10px;}
  &.ef-lh11{height:11px;}
  &.ef-lh12{height:12px;}
  &.ef-lh13{height:13px;}
  &.ef-lh14{height:14px;}
  &.ef-lh15{height:15px;}
  &.ef-lh16{height:16px;}
  &.ef-lh17{height:17px;}
  &.ef-lh18{height:18px;}
  &.ef-lh19{height:19px;}
  &.ef-lh20{height:20px;}
  &.ef-lh21{height:21px;}
  &.ef-lh22{height:22px;}
  &.ef-lh23{height:23px;}
  &.ef-lh24{height:24px;}
  &.ef-lh25{height:25px;}
  &.ef-lh26{height:26px;}
  &.ef-lh27{height:27px;}
  &.ef-lh28{height:28px;}
  &.ef-lh29{height:29px;}
  &.ef-lh30{height:30px;}
  &.ef-lh31{height:31px;}
  &.ef-lh32{height:32px;}
  &.ef-lh33{height:33px;}
  &.ef-lh34{height:34px;}
  &.ef-lh35{height:35px;}
  &.ef-lh36{height:36px;}
  &.ef-lh37{height:37px;}
  &.ef-lh38{height:38px;}
  &.ef-lh39{height:39px;}
  &.ef-lh40{height:40px;}
  &:hover{
    text-decoration:none;
    color:$cl-txt-base;
    i{color:$cl-txt-base;}
    background:$cl-btn-lighten; // for oldie
    @include brd(1px,solid,$cl-btn-darken);
    @include gradation($cl-btn-lighten, $cl-btn-lighten);
    //@include gradation-ie(#FFf2f2f2, #FFe1e1e1); // for oldie
  }
  &:active{
    background:$cl-btn-base; // for oldie
    @include brd(1px,solid,$cl-btn-darken);
    @include gradation($cl-btn-base, $cl-btn-base);
  }
  &.cp-disabled{
    &:hover{
      background:$cl-btn-base;
      cursor: default;
    }
  }
}
//white
.cp-btn-white{
  @extend .cp-btn;
  color:$cl-txt-base;
  i{color:$cl-txt-base;}
  background:$cl-btn-white; // for oldie
  @include brd(1px,solid,$cl-btn-white-darken);
  @include gradation($cl-btn-white-lighten, $cl-btn-white);
  &:hover{
    color:$cl-txt-base;
    i{color:$cl-txt-base;}
    background:$cl-btn-white-lighten; // for oldie
    @include brd(1px,solid,$cl-btn-white-darken);
    @include gradation($cl-btn-white-lighten, $cl-btn-white-lighten);
  }
  &:active{
    background:$cl-btn-white; // for oldie
    @include brd(1px,solid,$cl-btn-white-darken);
    @include gradation($cl-btn-white, $cl-btn-white);
  }
  &.cp-disabled{
    color:$cl-txt-base;
    i{color:$cl-txt-base;}
    &:hover{
      background:$cl-btn-white;
      cursor: default;
    }
  }
}
//red
.cp-btn-red,
.cp-btn-red-mini,
.cp-btn-red-large,
.cp-btn-red-fix{
  @extend .cp-btn;
  color:$cl-txt-rev;
  i{color:$cl-txt-rev;}
  background:$cl-btn-red; // for oldie
  @include brd(1px,solid,$cl-btn-red-darken);
  @include gradation($cl-btn-red-lighten, $cl-btn-red);
  &:hover{
    color:$cl-txt-rev;
    i{color:$cl-txt-rev;}
    background:$cl-btn-red-lighten; // for oldie
    @include brd(1px,solid,$cl-btn-red-darken);
    @include gradation($cl-btn-red-lighten, $cl-btn-red-lighten);
  }
  &:active{
    background:$cl-btn-red; // for oldie
    @include brd(1px,solid,$cl-btn-red-darken);
    @include gradation($cl-btn-red, $cl-btn-red);
  }
  &.cp-disabled{
    color:$cl-txt-rev;
    i{color:$cl-txt-rev;}
    &:hover{
      background:$cl-btn-red;
      cursor: default;
    }
  }
}
//orange
.cp-btn-orange,
.cp-btn-orange-mini,
.cp-btn-orange-large,
.cp-btn-orange-fix{
  @extend .cp-btn;
  color:$cl-txt-rev;
  i{color:$cl-txt-rev;}
  background:$cl-btn-orange; // for oldie
  @include brd(1px,solid,$cl-btn-orange-darken);
  @include gradation($cl-btn-orange-lighten, $cl-btn-orange);
  &:hover{
    color:$cl-txt-rev;
    i{color:$cl-txt-rev;}
    background:$cl-btn-orange-lighten; // for oldie
    @include brd(1px,solid,$cl-btn-orange-darken);
    @include gradation($cl-btn-orange-lighten, $cl-btn-orange-lighten);
  }
  &:active{
    background:$cl-btn-orange; // for oldie
    @include brd(1px,solid,$cl-btn-darken);
    @include gradation($cl-btn-orange, $cl-btn-orange);
  }
  &.cp-disabled{
    color:$cl-txt-rev;
    i{color:$cl-txt-rev;}
    &:hover{
      background:$cl-btn-orange;
      cursor: default;
    }
  }
}
//blue
.cp-btn-blue,
.cp-btn-blue-mini,
.cp-btn-blue-large,
.cp-btn-blue-fix{
  @extend .cp-btn;
  color:$cl-txt-rev;
  i{color:$cl-txt-rev;}
  background:$cl-btn-blue; // for oldie
  @include brd(1px,solid,$cl-btn-blue-darken);
  @include gradation($cl-btn-blue-lighten, $cl-btn-blue);
  &:hover{
    color:$cl-txt-rev;
    i{color:$cl-txt-rev;}
    background:$cl-btn-blue-lighten; // for oldie
    @include brd(1px,solid,$cl-btn-blue-darken);
    @include gradation($cl-btn-blue-lighten, $cl-btn-blue-lighten);
  }
  &:active{
    background:$cl-btn-blue; // for oldie
    @include brd(1px,solid,$cl-btn-blue-darken);
    @include gradation($cl-btn-blue, $cl-btn-blue);
  }
  &.cp-disabled{
    color:$cl-txt-rev;
    i{color:$cl-txt-rev;}
    &:hover{
      background:$cl-btn-blue;
      cursor: default;
    }
  }
}
//green
.cp-btn-green,
.cp-btn-green-mini,
.cp-btn-green-large,
.cp-btn-green-fix{
  @extend .cp-btn;
  color:$cl-txt-rev;
  i{color:$cl-txt-rev;}
  background:$cl-btn-green; // for oldie
  @include brd(1px,solid,$cl-btn-green-darken);
  @include gradation($cl-btn-green-lighten, $cl-btn-green);
  &:hover{
    color:$cl-txt-rev;
    i{color:$cl-txt-rev;}
    background:$cl-btn-green-lighten; // for oldie
    @include brd(1px,solid,$cl-btn-green-darken);
    @include gradation($cl-btn-green-lighten, $cl-btn-green-lighten);
  }
  &:active{
    background:$cl-btn-green; // for oldie
    @include brd(1px,solid,$cl-btn-green-darken);
    @include gradation($cl-btn-green, $cl-btn-green);
  }
  &.cp-disabled{
    color:$cl-txt-rev;
    i{color:$cl-txt-rev;}
    &:hover{
      background:$cl-btn-green;
      cursor: default;
    }
  }
}
//yellow
.cp-btn-yellow,
.cp-btn-yellow-mini,
.cp-btn-yellow-large,
.cp-btn-yellow-fix{
  @extend .cp-btn;
  color:$cl-txt-base;
  i{color:$cl-txt-base;}
  background:$cl-btn-yellow; // for oldie
  @include brd(1px,solid,$cl-btn-yellow-darken);
  @include gradation($cl-btn-yellow-lighten, $cl-btn-yellow);
  &:hover{
    color:$cl-txt-base;
    i{color:$cl-txt-base;}
    background:$cl-btn-yellow-lighten; // for oldie
    @include brd(1px,solid,$cl-btn-yellow-darken);
    @include gradation($cl-btn-yellow-lighten, $cl-btn-yellow-lighten);
  }
  &:active{
    background:$cl-btn-yellow; // for oldie
    @include brd(1px,solid,$cl-btn-yellow-darken);
    @include gradation($cl-btn-yellow, $cl-btn-yellow);
  }
  &.cp-disabled{
    color:$cl-txt-base;
    i{color:$cl-txt-base;}
    &:hover{
      background:$cl-btn-yellow;
      cursor: default;
    }
  }
}
//brown
.cp-btn-brown,
.cp-btn-brown-mini,
.cp-btn-brown-large,
.cp-btn-brown-fix{
  @extend .cp-btn;
  color:$cl-txt-rev;
  i{color:$cl-txt-rev;}
  background:$cl-btn-brown; // for oldie
  @include brd(1px,solid,$cl-btn-brown-darken);
  @include gradation($cl-btn-brown-lighten, $cl-btn-brown);
  &:hover{
    color:$cl-txt-rev;
    i{color:$cl-txt-rev;}
    background:$cl-btn-brown-lighten; // for oldie
    @include brd(1px,solid,$cl-btn-brown-darken);
    @include gradation($cl-btn-brown-lighten, $cl-btn-brown-lighten);
  }
  &:active{
    background:$cl-btn-brown; // for oldie
    @include brd(1px,solid,$cl-btn-brown-darken);
    @include gradation($cl-btn-brown, $cl-btn-brown);
  }
  &.cp-disabled{
    color:$cl-txt-rev;
    i{color:$cl-txt-rev;}
    &:hover{
      background:$cl-btn-brown;
      cursor: default;
    }
  }
}
//black
.cp-btn-black,
.cp-btn-black-mini,
.cp-btn-black-large,
.cp-btn-black-fix{
  @extend .cp-btn;
  color:$cl-txt-rev;
  i{color:$cl-txt-rev;}
  background:$cl-btn-black; // for oldie
  @include brd(1px,solid,$cl-btn-black-darken);
  @include gradation($cl-btn-black-lighten, $cl-btn-black);
  &:hover{
    color:$cl-txt-rev;
    i{color:$cl-txt-rev;}
    background:$cl-btn-black-lighten; // for oldie
    @include brd(1px,solid,$cl-btn-black-darken);
    @include gradation($cl-btn-black-lighten, $cl-btn-black-lighten);
  }
  &:active{
    background:$cl-btn-black; // for oldie
    @include brd(1px,solid,$cl-btn-black-darken);
    @include gradation($cl-btn-black, $cl-btn-black);
  }
  &.cp-disabled{
    color:$cl-txt-rev;
    i{color:$cl-txt-rev;}
    &:hover{
      background:$cl-btn-black;
      cursor: default;
    }
  }
}
//gray
.cp-btn-gray,
.cp-btn-gray-mini,
.cp-btn-gray-large,
.cp-btn-gray-fix{
  @extend .cp-btn;
  color:$cl-txt-rev;
  i{color:$cl-txt-rev;}
  background:$cl-btn-gray; // for oldie
  @include brd(1px,solid,$cl-btn-gray-darken);
  @include gradation($cl-btn-gray-lighten, $cl-btn-gray);
  &:hover{
    color:$cl-txt-rev;
    i{color:$cl-txt-rev;}
    background:$cl-btn-gray-lighten; // for oldie
    @include brd(1px,solid,$cl-btn-gray-darken);
    @include gradation($cl-btn-gray-lighten, $cl-btn-gray-lighten);
  }
  &:active{
    background:$cl-btn-gray; // for oldie
    @include brd(1px,solid,$cl-btn-gray-darken);
    @include gradation($cl-btn-gray, $cl-btn-gray);
  }
  &.cp-disabled{
    color:$cl-txt-rev;
    i{color:$cl-txt-rev;}
    &:hover{
      background:$cl-btn-gray;
      cursor: default;
    }
  }
}
//theme
.cp-btn-theme,
.cp-btn-theme-mini,
.cp-btn-theme-large,
.cp-btn-theme-fix{
  @extend .cp-btn;
  color:$cl-txt-rev;
  i{color:$cl-txt-rev;}
  background:$cl-btn-theme; // for oldie
  @include brd(1px,solid,$cl-btn-theme-darken);
  @include gradation($cl-btn-theme-lighten, $cl-btn-theme);
  &:hover{
    color:$cl-txt-rev;
    i{color:$cl-txt-rev;}
    background:$cl-btn-theme-lighten; // for oldie
    @include brd(1px,solid,$cl-btn-theme-darken);
    @include gradation($cl-btn-theme-lighten, $cl-btn-theme-lighten);
  }
  &:active{
    background:$cl-btn-theme; // for oldie
    @include brd(1px,solid,$cl-btn-theme-darken);
    @include gradation($cl-btn-theme, $cl-btn-theme);
  }
  &.cp-disabled{
    color:$cl-txt-rev;
    i{color:$cl-txt-rev;}
    &:hover{
      background:$cl-btn-theme;
      cursor: default;
    }
  }
}
//mini
.cp-btn-mini,
.cp-btn-white-mini,
.cp-btn-red-mini,
.cp-btn-orange-mini,
.cp-btn-blue-mini,
.cp-btn-green-mini,
.cp-btn-yellow-mini,
.cp-btn-brown-mini,
.cp-btn-black-mini,
.cp-btn-gray-mini,
.cp-btn-theme-mini{
  @extend .cp-btn;
  font-size:$fs-midium;
  padding:3px;
  line-height:$lh-btn-mini;
}
//large
.cp-btn-large,
.cp-btn-white-large,
.cp-btn-red-large,
.cp-btn-orange-large,
.cp-btn-blue-large,
.cp-btn-green-large,
.cp-btn-yellow-large,
.cp-btn-brown-large,
.cp-btn-black-large,
.cp-btn-gray-large,
.cp-btn-theme-large{
  @extend .cp-btn;
  font-size:$fs-h6;
  padding:7px 50px;
  @include min-width(0);
}
//fixed
.cp-btn-fix,
.cp-btn-white-fix,
.cp-btn-red-fix,
.cp-btn-orange-fix,
.cp-btn-blue-fix,
.cp-btn-green-fix,
.cp-btn-yellow-fix,
.cp-btn-brown-fix,
.cp-btn-black-fix,
.cp-btn-gray-fix,
.cp-btn-theme-fix{
  @extend .cp-btn;
  width:100%;
}
//combo
.cp-btn-combo-left{
  @include border-right-radius(0);
}
.cp-btn-combo{
@include border-radius(0);
  border-left:0;
  &:hover{
    border-left:0;
  }
}
.cp-btn-combo-right{
@include border-left-radius(0);
  border-left:0;
  &:hover{
    border-left:0;
  }
}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "beadclumb"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */
.cp-breadcrumb{
  .st-inner{
    @include brd-top;
    background:$cl-bg-gray2;
    padding:5px 10px;
    ul{
      li{line-height:20px;}
    }
  }
}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "titles"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */
//  //page
// .cp-page-summary{
//   ul{
//     li{
//       line-height:22px;
//       .sumary{
//         colnor:$cl-txt-sub;
//       }
//     }
//   }
// }
// //contents
// .cp-contents-summary{
//   ul{
//     li{
//       line-height:22px;
//       .sumary{
//         color:$cl-txt-sub;
//       }
//     }
//   }
// }
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "panels"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */
.cp-panel{
  display:table;
  >.st-body{
    position:relative;
    >.st-inner{
      @include brd;
      @include border-radius(5px);
      padding:20px;
    }
  }
}
.cp-panel-mini{
  @extend .cp-panel;
  >.st-body{
    >.st-inner{
      padding:7px;
    }
  }
}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "remarks"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */
.cp-remarks{
  .st-inner{
    background:$cl-bg-remarks;
    @include brd;
    @include border-radius(3px);
    padding:7px 10px;
    .st-outer{
      @include brd-left(5px,solid,#fff);
      padding-left:7px;
      font-size:12px;
    }
  }
}
.cp-remarks-red{
  @extend .cp-remarks;
  .st-inner{
    .st-outer{
      @include brd-left(5px,solid,$cl-red);
    }
  }
}
.cp-remarks-orange{
  @extend .cp-remarks;
  .st-inner{
    .st-outer{
      @include brd-left(5px,solid,$cl-orange);
    }
  }
}
.cp-remarks-blue{
  @extend .cp-remarks;
  .st-inner{
    .st-outer{
      @include brd-left(5px,solid,$cl-blue);
    }
  }
}
.cp-remarks-green{
  @extend .cp-remarks;
  .st-inner{
    .st-outer{
      @include brd-left(5px,solid,$cl-green);
    }
  }
}
.cp-remarks-yellow{
  @extend .cp-remarks;
  .st-inner{
    .st-outer{
      @include brd-left(5px,solid,$cl-yellow);
    }
  }
}
.cp-remarks-brown{
  @extend .cp-remarks;
  .st-inner{
    .st-outer{
      @include brd-left(5px,solid,$cl-brown);
    }
  }
}
.cp-remarks-black{
  @extend .cp-remarks;
  .st-inner{
    .st-outer{
      @include brd-left(5px,solid,$cl-black);
    }
  }
}
.cp-remarks-gray{
  @extend .cp-remarks;
  .st-inner{
    .st-outer{
      @include brd-left(5px,solid,$cl-gray);
    }
  }
}
.cp-remarks-gray1{
  @extend .cp-remarks;
  .st-inner{
    .st-outer{
      @include brd-left(5px,solid,$cl-gray1);
    }
  }
}
.cp-remarks-gray2{
  @extend .cp-remarks;
  .st-inner{
    .st-outer{
      @include brd-left(5px,solid,$cl-gray2);
    }
  }
}
.cp-remarks-gray3{
  @extend .cp-remarks;
  .st-inner{
    .st-outer{
      @include brd-left(5px,solid,$cl-gray3);
    }
  }
}
.cp-remarks-gray4{
  @extend .cp-remarks;
  .st-inner{
    .st-outer{
      @include brd-left(5px,solid,$cl-gray4);
    }
  }
}
.cp-remarks-gray5{
  @extend .cp-remarks;
  .st-inner{
    .st-outer{
      @include brd-left(5px,solid,$cl-gray5);
    }
  }
}
.cp-remarks-gray6{
  @extend .cp-remarks;
  .st-inner{
    .st-outer{
      @include brd-left(5px,solid,$cl-gray6);
    }
  }
}
.cp-remarks-gray7{
  @extend .cp-remarks;
  .st-inner{
    .st-outer{
      @include brd-left(5px,solid,$cl-gray7);
    }
  }
}

/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "caret"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */
.cp-triangle{
  @include clearfix;
  vertical-align:middle;
  display: inline-block;
  height: 0;
  width: 0;
}
.cp-triangle-top{
  @extend .cp-triangle;
  border-bottom: 4px solid #fff;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
.cp-triangle-left{
  @extend .cp-triangle;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 4px solid #fff;
}
.cp-triangle-right{
  @extend .cp-triangle;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #fff;
}
.cp-triangle-bottom{
  @extend .cp-triangle;
  border-top: 4px solid #fff;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "badges"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */
.cp-badge{
  @include border-radius(50%);
  padding:0 3px;
  display:inline-block;
  background:$cl-bg-badge;
  line-height:$lh-badge;
  min-width:16px;
  text-align:center;
  font-size:$fs-small;
  i{
    line-height:$lh-badge;
    color:$cl-txt-base;
  }
}

/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "wizard"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 *
 * =============================================================
 ▼ step circle
============================================================== */
.cp-step-box{
  >.st-body{
    >.st-inner{
      ul{
        li{
          position:relative;
          .cp-step-point{
            height:40px;
            width:40px;
            @include brd(4px,solid,$cl-bg-gray2);
            @include border-radius(40px);
            @include posi-abs(0,0,auto,auto);
            text-align:center;
            line-height:35px;
            z-index:1;
            background:$cl-bg-white;
          }
          .cp-step-bar{
            height:4px;
            background:$cl-bg-gray2;
            @include posi-abs(20px,0,auto,0);
          }
          .cp-step-title{
            width:80px;
            margin-top:50px;
            margin-left:auto;
            margin-right:-20px;
            text-align: center;
          }
          &.current{
            .cp-step-point{
              @include brd(4px,solid,$cl-bg-theme);
            }
            .cp-step-bar{background:$cl-bg-theme;}
          }
        }
      }
    }
  }
}
/* =============================================================
 ▼ step
============================================================== */
.cp-stepbar{
  $stepbar-base:#ddd;
  $stepbar-base-current:#098DB1;
  //width:1000px;
  ul{
    li{
      font-size:11px;
      line-height:14px;
      min-height: 14px;
      background:$stepbar-base;
      font-weight:bold;
      font-family: メイリオ, Meiryo;
      .cp-stepbar-keyword{
        width:122px;
        padding:10px;
        padding-right:0;
        display:block;
        text-decoration:none;
        color:#333;
        overflow:hidden;
        white-space:nowrap;
        &:hover{text-decoration:underline;}
      }
      .cp-triangle{
        position:relative;
        width:19px;
        height:34px;
        .cp-triangle-right{
          border-top: 17px solid transparent;
          border-bottom: 17px solid transparent;
          border-left: 17px solid $stepbar-base;
        }
        .cp-triangle-front{
          @include posi-abs(0,2px,auto,0);
          z-index:1;
        }
        .cp-triangle-bg{
          @include posi-abs(0,0,auto,auto);
          .cp-triangle-right{
            border-left: 17px solid #aaa;
          }
        }
      }
      &.is-current{
        .cp-stepbar-keyword{
          color:#fff;
          background:$stepbar-base-current;
        }
        .cp-triangle-front{
          @include posi-abs(0,2px,auto,0);
          z-index:1;
          .cp-triangle-right{
            border-left: 17px solid $stepbar-base-current;
          }
        }
      }
      &.is-past{
        @extend .is-current;
        background:$stepbar-base-current;
        .cp-stepbar-keyword{
          background:$stepbar-base;
          color:#333;
        }
        .cp-triangle-front{
          .cp-triangle-right{
            border-left: 17px solid $stepbar-base;
          }
        }
      }
    }
  }
}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "stamps"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */
.cp-stamp{
  @include border-radius(3px);
  padding:0 3px;
  display:inline-block;
  text-align:center;
  font-size:$fs-small;
  height:15px;
  min-width:15px;
  line-height:15px;
}
.cp-stamp-gray{
  @extend .cp-stamp;
  background:$cl-stamp-gray;
  color:$cl-txt-rev;
}
.cp-stamp-red{
  @extend .cp-stamp;
  background:$cl-stamp-red;
  color:$cl-txt-rev;
}
.cp-stamp-green{
  @extend .cp-stamp;
  background:$cl-stamp-green;
  color:$cl-txt-rev;
}
.cp-stamp-orange{
  @extend .cp-stamp;
  background:$cl-stamp-orange;
  color:$cl-txt-rev;
}
.cp-stamp-blue{
  @extend .cp-stamp;
  background:$cl-stamp-blue;
  color:$cl-txt-rev;
}
.cp-stamp-yellow{
  @extend .cp-stamp;
  background:$cl-stamp-yellow;
  color:$cl-txt-rev;
}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "toolbar"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 *
 * =============================================================
 ▼ step circle
============================================================== */
.cp-toolbar{
  .lo-inner{
    padding:5px 15px;
    @include border-radius(3px);
  }
}
/*■■■■■■■■■■■■■■■■■■■■■■■■    "menu"   ■■■■■■■■■■■■■■■■■■■■■■■*/