@import "effect";
/*
 * media.scss
 * include:
 * "mediaquery" 
 *
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * " mediaquery"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 *
 * =============================================================
 ▼ common
 ============================================================== */
//breackpoint3
.rs-bp1-hide,
.rs-bp2-hide,
.rs-bp3-show,
.rs-bp2-only-hide{display:block;}
.rs-bp1-show,
.rs-bp2-show,
.rs-bp3-hide,
.rs-bp2-only-show{display:none;}
//breackpoint2
@media (max-width: 768px) {
	.rs-bp2-hide,
	.rs-bp3-show{display:none;}
	.rs-bp2-show,
	.rs-bp3-hide{display:block;}
	.rs-bp3-float{
	  >.ef-float-left,
	  >.ef-float-right{
	  	float:none;
	  	width:100%;
	  	>.st-inner{padding:0;}
	  }
	}
	ul.rs-bp3-ul-float{
	  >li,
	  >li.ef-float-right{
	  	float:none;
	  	margin-left:0;
	  	margin-right:0;
	  }
	}
	dl.rs-bp3-dl-float{
	  >dt,
	  >dd{
	  	float:none;
	  	width:100%;
	  	>.st-inner,
	  	>img{padding:0;}
	  }
	  >dd{margin-left:0;}
	}
}
//breackpoint2
@media (min-width: 480px) and (max-width: 768px) {
	.rs-bp2-only-hide{display:none;}
	.rs-bp2-only-show{display:block;}
}

//breackpoint1
@media (max-width: 480px) {
	.rs-bp1-hide{display:none;}
	.rs-bp1-show{display:block;}
	.rs-bp2-float{
	  >.ef-float-left,
	  >.ef-float-right{
	  	float:none;
	  	width:100%;
	  	>.st-inner{padding:0;}
	  }
	}
	ul.rs-bp2-ul-float{
	  >li,
	  >li.ef-float-right{
	  	float:none;
	  	margin-left:0;
	  	margin-right:0;
	  }
	}
	dl.rs-bp2-dl-float{
	  >dt,
	  >dd{
	  	float:none;
	  	width:100%;
	  	>.st-inner,
	  	>img{padding:0;}
	  }
	  >dd{margin-left:0;}
	}
}
/* =============================================================
 ▼ parts
 ============================================================== */
//breackpoint1
@media (max-width: 480px) {
  .md-navblock{
    >.st-inner{
      >ul{
        >li{
          width:auto;
          float:none;
          >a{margin-right:0;}
        }
      }
    }
    &.column2,
    &.column3,
    &.column4{
      >.st-inner{
        >ul{
          >li{
            width:auto;
            float:none;
            >a{margin-right:0;}
          }
        }
      }
    }
  }
}