@charset "UTF-8";
/*
 * variables.scss
 * include:
 * "variables"
 */
/*
 * setting.scss
 * include:
 * "mixins" "base"
 */
/*
 * structure.scss
 * include:
 * "header" "footer" "container"
 *
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "header"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */
.page-header .st-body {
  min-width: auto;
  background: #485169;
}

.page-header .st-body.ef-posi-fix {
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 3;
}

.page-header .st-body .st-inner {
  padding: 0 10px;
}

.page-header .st-body .st-inner a {
  display: block;
  color: #fff;
}

.page-header .st-body .st-inner a i {
  color: #fff;
}

.page-header .st-body .st-inner a:hover {
  color: #e6e6e6;
}

.page-header .st-body .st-inner a:hover i {
  color: #e6e6e6;
}

.page-header .st-body .st-inner .ef-float-left > a {
  padding-top: 5px;
  padding-bottom: 5px;
}

.page-header .st-body .st-inner .ef-float-left > a .wrap-logo .logo {
  width: 25px;
  line-height: 25px;
  font-size: 18px;
  text-align: center;
  border-radius: 50%;
  margin-top: 2px;
  background: #fff;
}

.page-header .st-body .st-inner .ef-float-left > a .wrap-logo .logo i {
  color: #485169;
}

.page-header .st-body .st-inner .ef-float-right > ul > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
}

.page-header .st-body .st-inner .ef-float-right > ul > li > a i {
  display: block;
  line-height: 30px;
}

.page-header .st-body .st-inner .ef-float-right > ul > li .prof {
  display: block;
  width: 25px;
  margin-top: 3px;
  border-radius: 2px;
}

/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "footer"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */
.page-footer .st-body {
  background-color: #485169;
}

.page-footer .st-body.ef-posi-fix {
  position: fixed;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.page-footer .st-body .st-inner {
  padding: 3px 20px;
  color: #fff;
}

/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "container"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */
.page-container > .st-body {
  margin: 40px 0 20px;
}

.page-container > .st-body > .st-inner {
  margin-bottom: 30px;
}

.page-container > .st-body > .st-inner > .page-contents {
  display: block;
  margin-left: 195px;
}

.page-container > .st-body > .st-inner > .page-contents > .st-body > .st-inner {
  padding: 20px;
  padding-right: 15px;
}

/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "responsive"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */
/* =============================================================
 ▼ pages
============================================================== */
@media (max-width: 768px) {
  .page-container > .st-body > .st-inner > .page-contents {
    margin-left: 0;
  }
}
