/*
 * variables.scss
 * include:
 * "variables"
 */

// ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
// "variables"
// ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//app body size
$app-minWidth: auto;
$app-minHeight: auto;
$app-maxWidth: auto;
$app-maxHeight: auto;

//app font family
$ff-base: Meiryo,メイリオ,Arial,Verdana,"Helvetica Neue",Helvetica,sans-serif;

//font size
$fs-base:13px;
$fs-small:11px;
$fs-midium:12px;
$fs-large:14px;
$fs-h6:16px;
$fs-h5:18px;
$fs-h4:20px;
$fs-h3:21px;
$fs-h2:22px;
$fs-h1:24px;

//line height
$lh-reset:1.0;
$lh-base:1.6;
$lh-form:30px;
$lh-table:$lh-base;
$lh-btn:20px;
$lh-btn-mini:16px;
$lh-txt:$lh-base;

// theme color
$cl-theme: #485169;
$cl-theme1: #555;
$cl-theme2: #111;

$cl-theme-darken: darken( $cl-theme, 5% );
$cl-theme-lighten: lighten( $cl-theme, 5% );
$cl-theme1-darken: darken( $cl-theme1, 5% );
$cl-theme1-lighten: lighten( $cl-theme1, 5% );

//body background color
$cl-bg-body: #f6f6f6;

//color
$cl-white:#fff;
$cl-red:#cc3300;
$cl-orange:#E6AD2D;
$cl-blue:#548BB5;
$cl-green:#689C51;
$cl-yellow:#fcff85;
$cl-brown:#73402B;
$cl-black:#000;
$cl-gray:#666;
$cl-gray1:#888;
$cl-gray2:#999;
$cl-gray3:#aaa;
$cl-gray4:#bbb;
$cl-gray5:#ccc;
$cl-gray6:#ddd;
$cl-gray7:#eee;

//text color
$cl-txt-white:#fff;
$cl-txt-red:#cc3300;
$cl-txt-orange:#B59654;
$cl-txt-blue:#548BB5;
$cl-txt-green:#689C51;
$cl-txt-yellow:#F4DD17;
$cl-txt-brown:#73402B;
$cl-txt-black:#000;
$cl-txt-gray:#333;
$cl-txt-gray1:#444;
$cl-txt-gray2:#555;
$cl-txt-gray3:#666;
$cl-txt-gray4:#777;
$cl-txt-gray5:#888;
$cl-txt-gray6:#999;
$cl-txt-gray7:#aaa;

//text color
$cl-txt-base: #333;
$cl-txt-rev : #fff;
$cl-txt-link:#448CCF;
$cl-txt-hover: darken( $cl-txt-link, 15% );
$cl-txt-theme : $cl-theme;

//bg color
$cl-bg-white: $cl-white;
$cl-bg-red: #FFEEF3;
$cl-bg-orange: #FFF5DE;
$cl-bg-blue: #EEF9FF;
$cl-bg-green: #EFFFEE;
$cl-bg-yellow: #FDFFEE;
$cl-bg-brown: #EEE2DD;
$cl-bg-black: $cl-black;
$cl-bg-gray:#f6f6f6;
$cl-bg-gray1:#f9f9f9;
$cl-bg-gray2:#eee;
$cl-bg-gray3:#ddd;
$cl-bg-gray4:#ccc;
$cl-bg-gray5:#bbb;
$cl-bg-gray6:#aaa;
$cl-bg-gray7:#999;
$cl-bg-theme:#EEF0F5;

//border color
$cl-brd-base:#ccc;
$cl-brd-theme: $cl-theme;

$cl-brd-lighten: lighten( $cl-brd-base, 5% );
$cl-brd-darken: darken( $cl-brd-base, 5% );

//focus color
$cl-brd-focus :#8691C1;
$cl-bg-focus :#EDF3F7;

//button color
$cl-btn-base:#eee;
$cl-btn-lighten: lighten( $cl-btn-base, 3% );
$cl-btn-darken: darken( $cl-btn-base, 10% );
$cl-btn-white:#f9f9f9;
$cl-btn-white-lighten: lighten( $cl-btn-white, 7% );
$cl-btn-white-darken: darken( $cl-btn-white, 10% );
$cl-btn-red:$cl-red;
$cl-btn-red-lighten: lighten( $cl-btn-red, 7% );
$cl-btn-red-darken: darken( $cl-btn-red, 10% );
$cl-btn-orange:$cl-orange;
$cl-btn-orange-lighten: lighten( $cl-btn-orange, 7% );
$cl-btn-orange-darken: darken( $cl-btn-orange, 10% );
$cl-btn-blue:$cl-blue;
$cl-btn-blue-lighten: lighten( $cl-btn-blue, 7% );
$cl-btn-blue-darken: darken( $cl-btn-blue, 10% );
$cl-btn-green:$cl-green;
$cl-btn-green-lighten: lighten( $cl-btn-green, 7% );
$cl-btn-green-darken: darken( $cl-btn-green, 10% );
$cl-btn-yellow:#F9FF1F;
$cl-btn-yellow-lighten: lighten( $cl-btn-yellow, 20% );
$cl-btn-yellow-darken: darken( $cl-btn-yellow, 10% );
$cl-btn-brown:$cl-brown;
$cl-btn-brown-lighten: lighten( $cl-btn-brown, 7% );
$cl-btn-brown-darken: darken( $cl-btn-brown, 10% );
$cl-btn-black:$cl-black;
$cl-btn-black-lighten: lighten( $cl-btn-black, 10% );
$cl-btn-black-darken: darken( $cl-btn-black, 10% );
$cl-btn-gray:$cl-gray;
$cl-btn-gray-lighten: lighten( $cl-btn-gray, 7% );
$cl-btn-gray-darken: darken( $cl-btn-gray, 10% );
$cl-btn-theme:$cl-theme;
$cl-btn-theme-lighten: lighten( $cl-btn-theme, 7% );
$cl-btn-theme-darken: darken( $cl-btn-theme, 10% );

//userinfo color
$cl-alert: #cc3300;
$cl-success: #3E7B13;
$cl-info: #4F8AB4;
$cl-warning: #857F6A;

//userinfo background color
$cl-bg-alert: $cl-bg-red;
$cl-bg-success: $cl-bg-green;
$cl-bg-info: $cl-bg-blue;
$cl-bg-warning: $cl-bg-orange;

//delete color
$cl-delete: $cl-red;
$cl-delete-darken: darken( $cl-delete, 5% );

//header
$cl-bg-header: $cl-theme;

//nav
$cl-bg-nav: #fff;
$cl-bg-nav-current: #f6f6f6;
$cl-bg-nav-hover:  darken( $cl-bg-nav-current, 5% );

//tab
$cl-tab-current: $cl-theme;
$cl-bg-tab: $cl-bg-gray;
$cl-bg-tab-current: $cl-bg-white;

//toorbar
$cl-bg-toolbar: $cl-gray;

//footer
$cl-bg-footer: $cl-theme;

//table
$cl-bg-table-th : #e5e5e5;
$cl-bg-table-td : #fff;
$cl-bg-table-th-hover : $cl-bg-gray;
$cl-bg-table-td-hover : $cl-bg-gray;
$cl-bg-table-highlight : $cl-yellow;
$cl-bg-table-select : $cl-bg-theme;
$pd-table:5px;

//modal
$cl-bg-modal-header: #CAD5D9;
$cl-bg-modal-body: #fff;
$cl-bg-modal-footer: #f6f6f6;
//image-viewer
$cl-bg-image-viewer-header: #fff;

//popup
$cl-bg-popup:#fff;

//tooltip
$cl-bg-tooltip:#666;

//remarks
$cl-bg-remarks: #fff;
$cl-bg-remarks-supplement:#FEFDDA;

//badge
$cl-badge-white:$cl-white;
$cl-badge-gray:$cl-gray;
$cl-badge-red:$cl-red;
$cl-badge-green:$cl-green;
$cl-badge-orange:$cl-orange;
$cl-badge-blue:$cl-blue;
$cl-badge-yellow:$cl-yellow;
$cl-badge-black:$cl-black;
$cl-badge-brown:$cl-brown;
$cl-badge-theme:$cl-theme;

//tag
$cl-tag-white:$cl-white;
$cl-tag-gray:$cl-gray;
$cl-tag-red:$cl-red;
$cl-tag-green:$cl-green;
$cl-tag-orange:$cl-orange;
$cl-tag-blue:$cl-blue;
$cl-tag-yellow:$cl-yellow;
$cl-tag-black:$cl-black;
$cl-tag-brown:$cl-brown;
$cl-tag-theme:$cl-theme;

//progress-bar
$cl-progress-bar-white:$cl-white;
$cl-progress-bar-gray:$cl-gray;
$cl-progress-bar-red:$cl-red;
$cl-progress-bar-green:$cl-green;
$cl-progress-bar-orange:$cl-orange;
$cl-progress-bar-blue:$cl-blue;
$cl-progress-bar-yellow:$cl-yellow;
$cl-progress-bar-black:$cl-black;
$cl-progress-bar-brown:$cl-brown;
$cl-progress-bar-theme:$cl-theme;