@import "setting";
/*
 * base.scss
 * include:
 * "base"
 */
// ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
// "base"
// ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
/* =============================================================
 ▼ app base
============================================================= */
html,body {
  margin:0;
  padding: 0;
  @include min-width($mw-app);
  @include max-width($mxw-app);
}
body {
  position: relative;
  background: $cl-bg-body;
  font-size: $fs;
  color: $cl-txt;
  line-height: $lh;
  font-family: $ff-base;
}
*,*:before, *:after {box-sizing: border-box;}

small{font-size: $fs-small;}
em{font-style:normal;}
pre,code{font-family: $ff-base;}
input,button{outline: 0;}

//for firefox
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
}

//for mobile
* {-webkit-tap-highlight-color: rgba(0,0,0,0);}