@import "effect";
/*
 * media.scss
 * include:
 * "mediaquery" 
 *
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * " mediaquery"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 *
 * =============================================================
 ▼ common
 ============================================================== */
//breackpoint3
.rs1-hide,
.rs2-hide,
.rs3-show{display:block;}
.rs1-show,
.rs2-show,
.rs3-hide{display:none;}
//breackpoint3
@media (min-width: $bp3-4-min){
	.rs-box-centered{
		padding-left: $rs-box-centered;
		padding-right: $rs-box-centered;
	}
}
@media (max-width: $bp3-4-max){
	.rs-box-centered{
		padding-left: $rs-box-centered / 1.2;
		padding-right: $rs-box-centered / 1.2;
	}
}
//breackpoint2
@media (min-width: $bp2-3-min){
	.rs2-float,
	.rs3-nofloat{
	  >.ef-float-left,
	  >.ef-float-right{
	  	float:none;
	  	width:100%;
	  	>.st-inner{padding:0;}
	  }
	}
	ul.rs2-ul-float,
	ul.rs3-ul-nofloat{
	  >li,
	  >li.ef-float-right{
	  	float:none;
	  	margin-left:0;
	  	margin-right:0;
	  }
	}
	dl.rs2-dl-float,
	dl.rs3-dl-nofloat{
	  >dt,
	  >dd{
	  	float:none;
	  	width:100%;
	  	>.st-inner,
	  	>img{padding:0;}
	  }
	  >dd{margin-left:0;}
	}
}
@media (max-width: $bp2-3-max) {
	.rs3-show{display:none;}
	.rs3-hide{display:block;}
	.rs3-float{
	  >.ef-float-left,
	  >.ef-float-right{
	  	float:none;
	  	width:100%;
	  	>.st-inner{padding:0;}
	  }
	}
	ul.rs3-ul-float{
	  >li,
	  >li.ef-float-right{
	  	float:none;
	  	margin-left:0;
	  	margin-right:0;
	  }
	}
	dl.rs3-dl-float{
	  >dt,
	  >dd{
	  	float:none;
	  	width:100%;
	  	>.st-inner,
	  	>img{padding:0;}
	  }
	  >dd{margin-left:0;}
	}
	.rs-box-centered{
		padding-left: $rs-box-centered / 1.5;
		padding-right: $rs-box-centered / 1.5;
	}
}
//breackpoint1,2
@media (min-width:  $bp1-2-min) and (max-width: $bp2-3-max) {
	.rs2-hide{display:none;}
	.rs2-show{display:block;}
	.rs2-nofloat{
	  >.ef-float-left,
	  >.ef-float-right{
	  	float:none;
	  	width:100%;
	  	>.st-inner{padding:0;}
	  }
	}
	ul.rs2-ul-nofloat{
	  >li,
	  >li.ef-float-right{
	  	float:none;
	  	margin-left:0;
	  	margin-right:0;
	  }
	}
	dl.rs2-dl-nofloat{
	  >dt,
	  >dd{
	  	float:none;
	  	width:100%;
	  	>.st-inner,
	  	>img{padding:0;}
	  }
	  >dd{margin-left:0;}
	}
}
//breackpoint1
@media (min-width: $bp1-2-min) {
	.rs1-float{
	  >.ef-float-left,
	  >.ef-float-right{
	  	float:none;
	  	width:100%;
	  	>.st-inner{padding:0;}
	  }
	}
	ul.rs1-ul-float{
	  >li,
	  >li.ef-float-right{
	  	float:none;
	  	margin-left:0;
	  	margin-right:0;
	  }
	}
	dl.rs1-dl-float{
	  >dt,
	  >dd{
	  	float:none;
	  	width:100%;
	  	>.st-inner,
	  	>img{padding:0;}
	  }
	  >dd{margin-left:0;}
	}
}
@media (max-width:  $bp1-2-max) {
	.rs1-hide{display:none;}
	.rs1-show{display:block;}
	.rs2-float,
	.rs1-nofloat{
	  >.ef-float-left,
	  >.ef-float-right{
	  	float:none;
	  	width:100%;
	  	>.st-inner{padding:0;}
	  }
	}
	ul.rs2-ul-float,
	ul.rs1-ul-nofloat{
	  >li,
	  >li.ef-float-right{
	  	float:none;
	  	margin-left:0;
	  	margin-right:0;
	  }
	}
	dl.rs2-dl-float,
	dl.rs1-dl-nofloat{
	  >dt,
	  >dd{
	  	float:none;
	  	width:100%;
	  	>.st-inner,
	  	>img{padding:0;}
	  }
	  >dd{margin-left:0;}
	}
	.rs-box-centered{
		padding-left: $rs-box-centered / 5;
		padding-right: $rs-box-centered / 5;
	}
  h1{font-size:$fs-h1 / 1.2;}
  h2{font-size:$fs-h2 / 1.2;}
  h3{font-size:$fs-h3 / 1.2;}
}
/* =============================================================
 ▼ parts
 ============================================================== */
@media (max-width: $bp2-3-max) {
	.md-nav-main{
		border:0;
		@include border-radius(0);
	}
	.md-aside-main{
	  z-index:2;
	  @include posi-abs(0,auto,0,0);
	  @include transform(translateX(-100%));
	  &.is-transition{
	    @include transition(transform 0.5s ease);
	  }
	  &.is-open{
	    @include transform(translateX(0));
	    // @include box-shadow(rgba($cl-gray, 0.9) 0 5px 20px);
	   }
	}
	.page-contents{
		>.st-body{
			&.is-behind{
				@include opacity(0.4);
			}
		}
	}
}
 //modal
 @media (max-width: $bp-modal) {
  .md-modal{
  	>.st-body{
  		width:auto;
  		@include posi-fix(10%,20px,auto,20px);
  		margin-left:0 !important;
  		min-width: auto;
  	}
  }
  .md-modal-body{max-width:none;}
 }
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "promotion"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 *
 *========================================================================
  footer
======================================================================== */
.md-promo-footer{
  >.st-body{
    @include posi-abs(auto,0,0,0);
  }
  >.st-inner{
    position:relative;
  }
}