@import "components";
/*
 * module.scss
 * include:
 * "tab" "modal" "popup" "cartain"
 * "tooltip" "message" "toast"
 * "pagination" "loader" "scrolltop"
 * "collapse" "nav" "wizard" "promotion" "remover"
 *
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "tab"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * =============================================================
 ▼ tab
============================================================== */
.md-tab-btn{
  >.st-inner{
    position:relative;
    ul{
      padding-top:3px;
      li{
        position:relative;
        @include brd(1px,solid,$cl-brd);
        border-bottom:0;
        background:$cl-bg-tab;
        @include border-top-radius(3px);
        a{
          line-height:16px;
          padding:10px;
          text-align:center;
          display:block;
          text-decoration: none;
          i{color:$cl-txt-link;}
          &:hover{background:$cl-bg-tab-current;}
        }
        &.is-current{
          @include brd-top(3px,solid,$cl-tab-current);
          margin-top:2px;
          a{
            background:$cl-bg-tab-current;
            color:#333;
            i{color:$cl-tab-current;}
          }
          .md-tab-underbar{display:none;}
          &:last-child{margin-right:0;}
        }
        &.md-notab{a:hover{background:$cl-bg-tab;}}
        &:last-child{margin-right:0;}
      }
    }
  }
}
.md-tab-underbar{
  @include posi-abs(auto,auto,0,0);
  z-index:1;
  width:100%;
  height:1px;
  background:$cl-brd;
}
.md-tab-btn-center{
  overflow:hidden;
  height:40px;
  position:relative;
  margin:0;
  ul{@include posi-abs(0,0,auto,0);}
}
.md-tab-content{
  display:table;
  min-width:100%;
  margin-top:-1px;
  background:$cl-bg-tab-current;
  @include brd(1px,solid,$cl-brd);
  >.st-inner{
    padding:20px 15px;
    >ul > li{
      display:none;
      &.is-current{display:block;}
    }
  }
}
/* =============================================================
 ▼ tabscroll
============================================================== */
.md-tab-scroll{
  .md-tab-btn{
    >.st-inner{
      .md-tab-btn-left,
      .md-tab-btn-right{
        z-index:1;
        ul{li{margin-bottom:-1px;}}
        .is-disabled{a{cursor: not-allowed;}}
      }
      .md-tab-btn-left{
        @include posi-abs(0,auto,auto,0);
        padding-right: 3px;
      }
      .md-tab-btn-right{
        @include posi-abs(0,0,auto,auto);
        padding-left: 3px;
      }
      .md-tab-btn-center{
        margin:0 38px;
      }
    }
  }
}
/*========================================================================
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "modal"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 *
 * =============================================================
 ▼ default
============================================================== */
.md-modal{
  >.st-body{
    @include posi-fix(80px,auto,auto,50%);
    @include brd(1px,solid,$cl-brd);
    @include border-radius(5px);
    display:none;
    @include min-width(150px);
    z-index:2;
    &.is-current{
      display:block;
    }
  }
}
.md-image-viewer{
  >.st-inner{
    .md-modal-header{
      background:$cl-bg-image-viewer-header;
    }
  }
}
.md-modal-header{
  padding:10px;
  position:relative;
  background:$cl-bg-modal-header;
  @include border-top-radius(5px);
}
.md-modal-title{padding-right:10px;}
.md-modal-close{
  @include posi-abs(50%,5px,auto,auto);
  margin-top:-15px;
}
.md-modal-body{
  background:$cl-bg-modal-body;
}
.md-modal-footer{
  @include brd-top;
  padding:10px 20px;
  background:$cl-bg-modal-footer;
  @include border-bottom-radius(5px);
}
/* =============================================================
 ▼ cartain
============================================================== */
.md-cartain{@include posi-fix(0,0,0,0);}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "popup"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */
.md-popup{
  >.st-body{
    @include posi-abs(0,auto,auto,auto);
    border:1px solid $cl-brd-popup;
    @include border-radius(5px);
    background:$cl-bg-popup;
    display:none;
    z-index:4;
    &.is-current{
      display:block;
    }
    >.st-inner{
      padding:7px;
      position:relative;
    }
    &.is-fixed{z-index:5;}
  }
}
.md-popup-arrow{
  @include posi-abs(-$popup-arrow-height + 2,auto,auto,9%);
  border-left: $popup-arrow-width solid transparent;
  border-right: $popup-arrow-width solid transparent;
  border-bottom: $popup-arrow-height solid $cl-bg-popup-arrow;
  margin-left: -$popup-arrow-width;
  z-index:1;
}
.md-popup-arrow-back{
  @include posi-abs(-$popup-arrow-height,auto,auto,9%);
  border-left: $popup-arrow-width solid transparent;
  border-right: $popup-arrow-width solid transparent;
  border-bottom: $popup-arrow-height solid $cl-brd-popup-arrow;
  margin-left: -$popup-arrow-width;
}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "tooltip"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */
.md-tooltip{
  @include opacity(0);
  &.is-show{
   @include opacity(1);
   @include transition(all 0.3s ease-in-out);
  }
  .st-body{
    z-index:1;
    @include posi-abs(auto,auto,auto,auto);
    .st-inner{
      position:relative;
      .md-balloon{
        @include posi-abs(auto,auto,-8px,5px);
        .md-triangle-bottom{
          margin-top:-6px;
          border-top: 8px solid $cl-bg-tooltip;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
        }
      }
    }
  }
}
.md-tooltip-wrap{
  background-color:$cl-bg-tooltip;
  color:$cl-txt-rev;
  padding:7px 10px;
  @include border-radius(3px);
  word-wrap: break-word;
}
.md-tooltip-key{display:none;}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "table"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 *
 * =============================================================
 ▼ default table
============================================================= */
table.md-table{
  line-height:$lh-table;
  @include brd(1px,solid,$cl-brd-table);
  border-collapse: collapse;
  border-spacing: 0;
  background:$cl-white;
  //hover tr 
  thead,tbody{
    &.is-hover{
      tr:hover{
        th{
          background-color:$cl-bg-table-th-hover;
          &.is-reset{ background-color:$cl-bg-table-th;}
        }
        td{
          background-color:$cl-bg-table-td-hover;
          &.is-reset{ background-color:$cl-bg-table-td;}
        }
      }
      tr.is-reset:hover{
        th{background-color:$cl-bg-table-th;}
        td{background-color:$cl-bg-table-td;}
      }
    }
  }
  tr,colgroup{
    th{
      padding:$pd-table;
      font-size:$fs;
      background:$cl-bg-table-th;
      @include brd-right(1px,solid,$cl-brd-table);
      @include brd-bottom(1px,solid,$cl-brd-table);
      //white-space: nowrap;
      font-weight:bold;
      a,i{color:$cl-txt;}
    }
    td{
      padding:$pd-table;
      @include brd-right(1px,solid,$cl-brd-table);
      @include brd-bottom(1px,solid,$cl-brd-table);
    }
    th:last-child,
    td:last-child{border-right-width:none;}
    tbody:last-child td{border-bottom-width:none;}

    //hover single cloumn
    &.is-hover{
      th:hover{
        background-color:$cl-bg-table-th-hover;
        &.is-reset{ background-color:$cl-bg-table-th;}
      }
      td:hover{
        background-color:$cl-bg-table-td-hover;
        &.is-reset{ background-color:$cl-bg-table-td;}
      }
    }
    &.is-highlight{
      th,td{background-color:$cl-bg-table-highlight;}
      th{&.is-reset{background-color:$cl-bg-table-th;}}
      td{&.is-reset{background-color:$cl-bg-table-td;}}
    }
    &.is-select{
      th,td{background-color:$cl-bg-table-select;}
      th{&.is-reset{background-color:$cl-bg-table-th;}}
      td{&.is-reset{background-color:$cl-bg-table-td;}}
    }

    //background color
    .ef-bg-white{background:$cl-bg-white;}
    .ef-bg-red{background:$cl-bg-red;}
    .ef-bg-orange{background: $cl-bg-orange;}
    .ef-bg-blue{background:$cl-bg-blue;}
    .ef-bg-green{background:$cl-bg-green;}
    .ef-bg-yellow{background:$cl-bg-yellow;}
    .ef-bg-brown{background:$cl-bg-brown;}
    .ef-bg-gray{background:$cl-bg-gray;}
    .ef-bg-theme{background:$cl-bg-theme;}
    //focus
    .is-focus{background:$cl-bg-table-focus;}

    //border(th,td)
    .ef-brd1{@include brd(1px, solid, $cl-brd);}
    .ef-brd2{@include brd(2px, solid, $cl-brd);}
    .ef-brd3{@include brd(3px, solid, $cl-brd);}
    .ef-brdt1{@include brd-top(1px, solid, $cl-brd);}
    .ef-brdt2{@include brd-top(2px, solid, $cl-brd);}
    .ef-brdt3{@include brd-top(3px, solid, $cl-brd);}
    .ef-brdr1{@include brd-right(1px, solid, $cl-brd);}
    .ef-brdr2{@include brd-right(2px, solid, $cl-brd);}
    .ef-brdr3{@include brd-right(3px, solid, $cl-brd);}
    .ef-brdb1{@include brd-bottom(1px, solid, $cl-brd);}
    .ef-brdb2{@include brd-bottom(2px, solid, $cl-brd);}
    .ef-brdb3{@include brd-bottom(3px, solid, $cl-brd);}
    .ef-brdl1{@include brd-left(1px, solid, $cl-brd);}
    .ef-brdl2{@include brd-left(2px, solid, $cl-brd);}
    .ef-brdl3{@include brd-left(3px, solid, $cl-brd);}
    //border theme(th,td)
    .ef-brd1-theme{@include brd(1px, solid, $cl-theme);}
    .ef-brd2-theme{@include brd(2px, solid, $cl-theme);}
    .ef-brd3-theme{@include brd(3px, solid, $cl-theme);}
    .ef-brdt1-theme{@include brd-top(1px, solid, $cl-theme);}
    .ef-brdt2-theme{@include brd-top(2px, solid, $cl-theme);}
    .ef-brdt3-theme{@include brd-top(3px, solid, $cl-theme);}
    .ef-brdr1-theme{@include brd-right(1px, solid, $cl-theme);}
    .ef-brdr2-theme{@include brd-right(2px, solid, $cl-theme);}
    .ef-brdr3-theme{@include brd-right(3px, solid, $cl-theme);}
    .ef-brdb1-theme{@include brd-bottom(1px, solid, $cl-theme);}
    .ef-brdb2-theme{@include brd-bottom(2px, solid, $cl-theme);}
    .ef-brdb3-theme{@include brd-bottom(3px, solid, $cl-theme);}
    .ef-brdl1-theme{@include brd-left(1px, solid, $cl-theme);}
    .ef-brdl2-theme{@include brd-left(2px, solid, $cl-theme);}
    .ef-brdl3-theme{@include brd-left(3px, solid, $cl-theme);}
    //border red(th,td)
    .ef-brd1-red{@include brd(1px, solid, $cl-red);}
    .ef-brd2-red{@include brd(2px, solid, $cl-red);}
    .ef-brd3-red{@include brd(3px, solid, $cl-red);}
    .ef-brdt1-red{@include brd-top(1px, solid, $cl-red);}
    .ef-brdt2-red{@include brd-top(2px, solid, $cl-red);}
    .ef-brdt3-red{@include brd-top(3px, solid, $cl-red);}
    .ef-brdr1-red{@include brd-right(1px, solid, $cl-red);}
    .ef-brdr2-red{@include brd-right(2px, solid, $cl-red);}
    .ef-brdr3-red{@include brd-right(3px, solid, $cl-red);}
    .ef-brdb1-red{@include brd-bottom(1px, solid, $cl-red);}
    .ef-brdb2-red{@include brd-bottom(2px, solid, $cl-red);}
    .ef-brdb3-red{@include brd-bottom(3px, solid, $cl-red);}
    .ef-brdl1-red{@include brd-left(1px, solid, $cl-red);}
    .ef-brdl2-red{@include brd-left(2px, solid, $cl-red);}
    .ef-brdl3-red{@include brd-left(3px, solid, $cl-red);}
    
    //border(tr > th,td)
    &.ef-brd1{th,td{@include brd(1px, solid, $cl-brd);}}
    &.ef-brd2{th,td{@include brd(2px, solid, $cl-brd);}}
    &.ef-brd3{th,td{@include brd(3px, solid, $cl-brd);}}
    &.ef-brdt1{th,td{@include brd-top(1px, solid, $cl-brd);}}
    &.ef-brdt2{th,td{@include brd-top(2px, solid, $cl-brd);}}
    &.ef-brdt3{th,td{@include brd-top(3px, solid, $cl-brd);}}
    &.ef-brdr1{th,td{@include brd-right(1px, solid, $cl-brd);}}
    &.ef-brdr2{th,td{@include brd-right(2px, solid, $cl-brd);}}
    &.ef-brdr3{th,td{@include brd-right(3px, solid, $cl-brd);}}
    &.ef-brdb1{th,td{@include brd-bottom(1px, solid, $cl-brd);}}
    &.ef-brdb2{th,td{@include brd-bottom(2px, solid, $cl-brd);}}
    &.ef-brdb3{th,td{@include brd-bottom(3px, solid, $cl-brd);}}
    &.ef-brdl1{th,td{@include brd-left(1px, solid, $cl-brd);}}
    &.ef-brdl2{th,td{@include brd-left(2px, solid, $cl-brd);}}
    &.ef-brdl3{th,td{@include brd-left(3px, solid, $cl-brd);}}
    //border theme(tr > th,td)
    &.ef-brd1-theme{th,td{@include brd(1px, solid, $cl-theme);}}
    &.ef-brd2-theme{th,td{@include brd(2px, solid, $cl-theme);}}
    &.ef-brd3-theme{th,td{@include brd(3px, solid, $cl-theme);}}
    &.ef-brdt1-theme{th,td{@include brd-top(1px, solid, $cl-theme);}}
    &.ef-brdt2-theme{th,td{@include brd-top(2px, solid, $cl-theme);}}
    &.ef-brdt3-theme{th,td{@include brd-top(3px, solid, $cl-theme);}}
    &.ef-brdr1-theme{th,td{@include brd-right(1px, solid, $cl-theme);}}
    &.ef-brdr2-theme{th,td{@include brd-right(2px, solid, $cl-theme);}}
    &.ef-brdr3-theme{th,td{@include brd-right(3px, solid, $cl-theme);}}
    &.ef-brdb1-theme{th,td{@include brd-bottom(1px, solid, $cl-theme);}}
    &.ef-brdb2-theme{th,td{@include brd-bottom(2px, solid, $cl-theme);}}
    &.ef-brdb3-theme{th,td{@include brd-bottom(3px, solid, $cl-theme);}}
    &.ef-brdl1-theme{th,td{@include brd-left(1px, solid, $cl-theme);}}
    &.ef-brdl2-theme{th,td{@include brd-left(2px, solid, $cl-theme);}}
    &.ef-brdl3-theme{th,td{@include brd-left(3px, solid, $cl-theme);}}
    //border red(tr > th,td)
    &.ef-brd1-red{th,td{@include brd(1px, solid, $cl-red);}}
    &.ef-brd2-red{th,td{@include brd(2px, solid, $cl-red);}}
    &.ef-brd3-red{th,td{@include brd(3px, solid, $cl-red);}}
    &.ef-brdt1-red{th,td{@include brd-top(1px, solid, $cl-red);}}
    &.ef-brdt2-red{th,td{@include brd-top(2px, solid, $cl-red);}}
    &.ef-brdt3-red{th,td{@include brd-top(3px, solid, $cl-red);}}
    &.ef-brdr1-red{th,td{@include brd-right(1px, solid, $cl-red);}}
    &.ef-brdr2-red{th,td{@include brd-right(2px, solid, $cl-red);}}
    &.ef-brdr3-red{th,td{@include brd-right(3px, solid, $cl-red);}}
    &.ef-brdb1-red{th,td{@include brd-bottom(1px, solid, $cl-red);}}
    &.ef-brdb2-red{th,td{@include brd-bottom(2px, solid, $cl-red);}}
    &.ef-brdb3-red{th,td{@include brd-bottom(3px, solid, $cl-red);}}
    &.ef-brdl1-red{th,td{@include brd-left(1px, solid, $cl-red);}}
    &.ef-brdl2-red{th,td{@include brd-left(2px, solid, $cl-red);}}
    &.ef-brdl3-red{th,td{@include brd-left(3px, solid, $cl-red);}}
    //clear border
    .ef-brd0{border:none;}
    .ef-brdt0{border-top:none;}
    .ef-brdr0{border-right:none;}
    .ef-brdb0{border-bottom:none;}
    .ef-brdl0{border-left:none;}
    &.ef-brd0{th,td{border:none;}}
    &.ef-brdt0{th,td{border-top:none;}}
    &.ef-brdr0{th,td{border-right:none;}}
    &.ef-brdb0{th,td{border-bottom:none;}}
    &.ef-brdl0{th,td{border-left:none;}}
  }
}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "message"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */
.md-message{
  >.st-body{
    position:relative;
    display:none;
    .st-inner{
      padding:10px 20px 10px 15px;
      @include border-radius(3px);
      i{font-size:$fs-h5;}
    }
    &.is-open{display:block;}
  }
}
.md-message-alert{
  >.st-inner{
    @include brd(1px,solid,$cl-red);
    background: $cl-bg-alert;
    color:$cl-red;
    i{color:$cl-red;}
  }
}
.md-message-success{
  >.st-inner{
    @include brd(1px,solid,$cl-success);
    background: $cl-bg-success;
    color:$cl-success;
    i{color:$cl-success;}
  }
}
.md-message-info{
  >.st-inner{
    @include brd(1px,solid,$cl-info);
    background: $cl-bg-info;
    color:$cl-info;
    i{color:$cl-info;}
  }
}
.md-message-warning{
  >.st-inner{
    @include brd(1px,solid,$cl-warning);
    background: $cl-bg-warning;
    color:$cl-warning;
    i{color:$cl-warning;}
  }
}
.md-message-close{
  &:hover{@include opacity(0.8);}
  @include posi-abs(6px,3px,auto,auto);
}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "toast"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */
.md-toast{
  @include posi-fix(0,auto,auto,50%);
  >.st-body{
    position:relative;
    display:none;
    .st-inner{
      padding:10px 20px 10px 15px;
      @include border-radius(3px);
      i{font-size:$fs-h5;}
    }
    &.is-open{display:block;}
  }
}
.md-toast-close{
  &:hover{@include opacity(0.8);}
  @include posi-abs(6px,3px,auto,auto);
}
.md-toast-alert{
  >.st-inner{
    @include brd(1px,solid,$cl-red);
    background: $cl-bg-alert;
    color:$cl-red;
    i{color:$cl-red;}
  }
}
.md-toast-success{
  >.st-inner{
    @include brd(1px,solid,$cl-success);
    background: $cl-bg-success;
    color:$cl-success;
    i{color:$cl-success;}
  }
}
.md-toast-info{
  >.st-inner{
    @include brd(1px,solid,$cl-info);
    background: $cl-bg-info;
    color:$cl-info;
    i{color:$cl-info;}
  }
}
.md-toast-warning{
  >.st-inner{
    @include brd(1px,solid,$cl-warning);
    background: $cl-bg-warning;
    color:$cl-warning;
    i{color:$cl-warning;}
  }
}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "pagination"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */
.md-pagination{
  >ul{
    >li{
      >a{
        text-align:center;
        padding-top:4px;
        padding-bottom:4px;
        display: inline-block;
        white-space: nowrap;
        vertical-align: middle;
        text-decoration:none;
        outline:none;
        color:$cl-txt-link;
        background:$cl-bg-white;
        i{color:$cl-txt-link;}
        @include brd(1px,solid,$cl-brd);
        @include border-radius(3px);
       }
    }
    >li.is-current{
      >a{cursor:default;}
    }
    >li.is-disabled{
      >a{
        cursor:default;
        color:$cl-txt;
        i{color:$cl-txt;}
      }
      >a:hover{
        cursor: not-allowed;
        background:$cl-bg-white;
      }
    }
  }
}
.md-pagination.ef-cp-white{
  >ul>li.is-current>a:hover,
  >ul>li.is-current>a{
    color:$cl-txt-white;
    background:$cl-gray;
    @include brd(1px,solid,$cl-gray);
  }
  >ul>li>a:hover{background:$cl-bg-gray;}
}
.md-pagination.ef-cp-red{
  >ul>li.is-current>a:hover,
  >ul>li.is-current>a{
    color:$cl-txt-white;
    background:$cl-red;
    @include brd(1px,solid,$cl-red);
  }
  >ul>li>a:hover{background:$cl-bg-red;}
}
.md-pagination.ef-cp-orange{
  >ul>li.is-current>a:hover,
  >ul>li.is-current>a{
    color:$cl-txt-white;
    background:$cl-orange;
    @include brd(1px,solid,$cl-orange);
  }
  >ul>li>a:hover{background:$cl-bg-orange;}
}
.md-pagination.ef-cp-blue{
  >ul>li.is-current>a:hover,
  >ul>li.is-current>a{
    color:$cl-txt-white;
    background:$cl-blue;
    @include brd(1px,solid,$cl-blue);
  }
  >ul>li>a:hover{background:$cl-bg-blue;}
}
.md-pagination.ef-cp-green{
  >ul>li.is-current>a:hover,
  >ul>li.is-current>a{
    color:$cl-txt-white;
    background:$cl-green;
    @include brd(1px,solid,$cl-green);
  }
  >ul>li>a:hover{background:$cl-bg-green;}
}
.md-pagination.ef-cp-yellow{
  >ul>li.is-current>a:hover,
  >ul>li.is-current>a{
    color:$cl-txt-white;
    background:$cl-yellow;
    @include brd(1px,solid,$cl-yellow);
  }
  >ul>li>a:hover{background:$cl-bg-yellow;}
}
.md-pagination.ef-cp-brown{
  >ul>li.is-current>a:hover,
  >ul>li.is-current>a{
    color:$cl-txt-white;
    background:$cl-brown;
    @include brd(1px,solid,$cl-brown);
  }
  >ul>li>a:hover{background:$cl-bg-brown;}
}
.md-pagination.ef-cp-gray{
  >ul>li.is-current>a:hover,
  >ul>li.is-current>a{
    color:$cl-txt-white;
    background:$cl-gray;
    @include brd(1px,solid,$cl-gray);
  }
  >ul>li>a:hover{background:$cl-bg-gray;}
}
.md-pagination.ef-cp-theme{
  >ul>li.is-current>a:hover,
  >ul>li.is-current>a{
    color:$cl-txt-white;
    background:$cl-theme;
    @include brd(1px,solid,$cl-theme);
  }
  >ul>li>a:hover{background:$cl-bg-theme;}
}
.md-pagination.ef-cp-white,
.md-pagination.ef-cp-red,
.md-pagination.ef-cp-orange,
.md-pagination.ef-cp-blue,
.md-pagination.ef-cp-green,
.md-pagination.ef-cp-yellow,
.md-pagination.ef-cp-brown,
.md-pagination.ef-cp-gray,
.md-pagination.ef-cp-theme{
  >ul{
    >li.is-disabled{
      >a{
        cursor:default;
        color:$cl-txt;
        i{color:$cl-txt;}
      }
      >a:hover{
        cursor: not-allowed;
        background:$cl-bg-white;
      }
    }
  }
}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "loader"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */
.md-loader{
  .st-body{
    @include posi-fix(50%,auto,auto,50%);
    z-index:1;
    .st-inner{
      @include border-radius(5px);
      background:#fff;
      width:180px;
      margin-left:-90px;
      margin-top:-90px;
      padding:20px;
      text-align:center;
    }
  }
}
.md-loader-abs{
  .st-body{
    @include posi-abs(0,auto,auto,0);
    z-index:1;
  }
}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "nav"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 *
 * =============================================================
 ▼ nav-main
============================================================== */
 .md-nav-main{
  padding:10px;
  @include border-radius(5px);
  @include brd;
  background:$cl-bg-nav;
  i,a{color:$cl-link-nav;}
  ul{
    display:block;
    li{
      a{
        padding:0 10px;
        display:block;
        &:hover{
          background:$cl-bg-nav-hover;
        }
      }
      &.is-current{
        >a{
          background:$cl-bg-nav-current;
        }
      }
    }
  }
}
/* =============================================================
 ▼ nav-slide
============================================================== */
.md-nav-slide{
  @include posi-fix(0,0,auto,0);
  z-index:1;
  @include transform(translateY(-100%));
  &.is-transition{
    @include transition(transform 0.5s ease);
  }
  &.is-open{
    @include transform(translateY($page-header-height));
    @include box-shadow(rgba($cl-shadow, 0.9) 0 0 60px);
  }
  .st-inner{
    padding:10px 0;
    @include brd-bottom;
    background:$cl-bg-nav;
    i,a{color:$cl-txt;}
    ul{
      display:block;
      li{
        a{
          padding:0 10px;
          display:block;
        }
      }
    }
    // .nav-category{
    //   font-size:11px;
    //   margin-top:-5px;
    //   margin-bottom:-10px;
    //   padding:0 10px;
    // }
  }
}
/* =============================================================
 ▼ nav-block
============================================================== */
.md-nav-block{
  li{
    >a{
      padding:5px 7px;
      display: block;
      text-align: center;
    }
    &.is-current{
      >a{
        background-color:$cl-theme;
        color:$cl-txt-rev;
        i{color:$cl-txt-rev;}
        cursor: default;
      }
    }
  }
}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "scrolltop"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 */
.md-scrolltop{
  .st-body{
    @include posi-fix(auto,5px,27px,auto);
    z-index:1;
    .st-inner{
      a{
        @include brd;
        @include border-radius(5px);
        padding:3px 10px;
        background:$cl-bg-white;
        display: block;
        @include opacity(0.9);
        text-align:center;
      }
    }
  }
}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "promotion"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 *
 *========================================================================
  footer
======================================================================== */
.md-promo-footer{
  >.st-body{
    @include posi-abs(auto,0,0,0);
  }
  >.st-inner{
    position:relative;
  }
}
/*
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 * "remover"
 * ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 *
 *========================================================================
  list / dl / tr 
======================================================================== */
.md-remover{overflow:hidden;}
.md-remover-tri{
  @include opacity(0.4);
  &:hover{@include opacity(1);}
}
/*■■■■■■■■■■■■■■■■■■■■■■■■    "menu"   ■■■■■■■■■■■■■■■■■■■■■■■*/